flows_rpi0w-remocon.json
[{"id":"401531fb.83535","type":"tab","label":"デバイス","disabled":false,"info":""},{"id":"c5e85a5f.147a68","type":"tab","label":"Alexa Local → LIRC","disabled":false,"info":""},{"id":"ced38e95.976a3","type":"tab","label":"Alexa Home → LIRC","disabled":false,"info":""},{"id":"52e5256c.6ed94c","type":"tab","label":"Alexaの応答","disabled":false,"info":""},{"id":"438ab136.239fa","type":"tab","label":"beebotte→温度,湿度,気圧","disabled":false,"info":""},{"id":"263ed0bd.93952","type":"tab","label":"GoogleAssistant (IFTTT, beebotte)","disabled":false,"info":""},{"id":"aa0904da.d689a8","type":"subflow","name":"コマンド分岐","info":"Alexa Localからの入力を分岐","category":"","in":[{"x":40,"y":80,"wires":[{"id":"71e4e010.c1042"}]}],"out":[{"x":660,"y":40,"wires":[{"id":"85ba3b33.f92e98","port":0}]},{"x":660,"y":80,"wires":[{"id":"3036e890.e6cef8","port":0}]},{"x":660,"y":120,"wires":[{"id":"6ccc0fee.9dec9","port":0}]},{"x":660,"y":160,"wires":[{"id":"3f953001.cce33","port":0}]},{"x":660,"y":200,"wires":[{"id":"63dc37f7.d26098","port":0}]}],"inputLabels":["Alexa Localからのmsg"],"outputLabels":["on","off","up","down","1..100"]},{"id":"dfac1a83.a920b8","type":"subflow","name":"vol up/down","info":"# payloadに変化量\n\n  payload > 0: vol_up\n  \n  payload < 0: vol_down\n","category":"","in":[{"x":60,"y":60,"wires":[{"id":"13a3bd50.d3c2c3"}]}],"out":[{"x":1000,"y":140,"wires":[{"id":"8acd7c46.8e4c2","port":0}]}],"inputLabels":["変化量"],"outputLabels":["vol_up/down"]},{"id":"c23f6043.7369e","type":"subflow","name":"GoogleHome:シーケンス #","info":"","category":"","in":[],"out":[{"x":580,"y":140,"wires":[{"id":"2430070.60e87fa","port":0}]},{"x":580,"y":180,"wires":[{"id":"2430070.60e87fa","port":1}]},{"x":580,"y":80,"wires":[{"id":"191e8425.574cec","port":0}]}],"outputLabels":["data","ts","json"]},{"id":"4c94e976.9a29e8","type":"alexa-home-conf","z":"","username":"ytani"},{"id":"ea87affe.5cedd","type":"lirc-controller","z":"","name":"SEND_ONCE"},{"id":"189d44fe.8ba0db","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38f3d975.e68376","type":"ui_group","z":"","name":"エアコン","tab":"dc8ccc91.6ab8c","order":2,"disp":true,"width":"3","collapse":false},{"id":"dc8ccc91.6ab8c","type":"ui_tab","z":"","name":"家電コントロール","icon":"dashboard","order":1},{"id":"cfd31d5a.7257b","type":"ui_group","z":"","name":"Dyson Fan","tab":"dc8ccc91.6ab8c","order":1,"disp":true,"width":"3","collapse":false},{"id":"3b7e7ae0.0e3136","type":"mqtt-broker","z":"","name":"","broker":"mqtt.beebotte.com","port":"8883","tls":"9085588b.f27808","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9085588b.f27808","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"mqtt.beebotte.com.pem","servername":"","verifyservercert":true},{"id":"51347206.f77d3c","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"40217","acknoledge":false,"name":"ダイソン","topic":"","x":88,"y":79,"wires":[["5901fca9.b71544","1864c7e.9908138","d5a03e35.2a6b7"]]},{"id":"211ddf02.ddf41","type":"change","z":"ced38e95.976a3","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"power0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":40,"wires":[["3e43501c.35ab9"]]},{"id":"6faa1423.27f5ac","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"power1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":60,"wires":[["3e43501c.35ab9"]]},{"id":"df02b123.8bb7d","type":"change","z":"ced38e95.976a3","name":"Temp Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_up0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["3e43501c.35ab9"]]},{"id":"27f26fa4.e6e2e","type":"change","z":"ced38e95.976a3","name":"Temp Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_down0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[["3e43501c.35ab9"]]},{"id":"93df164f.4a59d8","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"40588","acknoledge":true,"name":"ボール ランプ","topic":"","x":94,"y":318,"wires":[["ffbf92d0.a377a","4e0fb9cf.e2c5f8"]]},{"id":"ffbf92d0.a377a","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":368,"y":321,"wires":[["24bf69fa.807226"],["4c0b34ab.4ce5dc"],["24bf69fa.807226"],["4c0b34ab.4ce5dc"]]},{"id":"24bf69fa.807226","type":"change","z":"ced38e95.976a3","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":306,"wires":[["5d5f1c44.a5d224"]]},{"id":"4c0b34ab.4ce5dc","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["5d5f1c44.a5d224"]]},{"id":"5901fca9.b71544","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":360,"y":80,"wires":[["211ddf02.ddf41","da7babf3.521be8"],["6faa1423.27f5ac","da7babf3.521be8"],["df02b123.8bb7d","da7babf3.521be8"],["27f26fa4.e6e2e","da7babf3.521be8"],["d36c95e.3b91668","b8dd7fe5.472c8"]]},{"id":"1864c7e.9908138","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":140,"wires":[]},{"id":"e67b4c26.72eda","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"40923","acknoledge":true,"name":"スマートエアコン","topic":"","x":113,"y":450,"wires":[["417109b7.0299a8","65ded331.1743ac"]]},{"id":"417109b7.0299a8","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":369,"y":451,"wires":[["9bb6028a.0342d"],["d6da71a5.5436a"],["19d97a98.3c3e85"],["19d97a98.3c3e85"]]},{"id":"9bb6028a.0342d","type":"change","z":"ced38e95.976a3","name":"ON Hot 24℃","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_hot_24","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":430,"wires":[["3080a5.00c9af5c"]]},{"id":"d6da71a5.5436a","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":473,"wires":[["3080a5.00c9af5c"]]},{"id":"868c0032.a9565","type":"ui_button","z":"ced38e95.976a3","name":"","group":"38f3d975.e68376","order":1,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":130,"y":555,"wires":[["d6da71a5.5436a","bbf4f8b8.83dbd8"]]},{"id":"491e8817.c276b8","type":"ui_switch","z":"ced38e95.976a3","name":"Dyson Fan Power","label":"Power","tooltip":"","group":"cfd31d5a.7257b","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":148,"y":195,"wires":[["f674b3b6.2fd9","9677357.1513ac8"]]},{"id":"f674b3b6.2fd9","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":364,"y":191,"wires":[["211ddf02.ddf41"],["6faa1423.27f5ac"]]},{"id":"d02644b8.bfa428","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"41011","acknoledge":true,"name":"スマート音量","topic":"","x":95,"y":678,"wires":[["bc91466e.cf2cc8","cb2e6be0.82f938"]]},{"id":"bc91466e.cf2cc8","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":362,"y":679,"wires":[["9c0e26ef.6b1ab8"],["51d46508.cfa2fc"],["9addf7f8.9f0e08"]]},{"id":"9c0e26ef.6b1ab8","type":"change","z":"ced38e95.976a3","name":"Vol Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":668,"wires":[["7d056d0.7a3c694"]]},{"id":"51d46508.cfa2fc","type":"change","z":"ced38e95.976a3","name":"Vol Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":709,"wires":[["7d056d0.7a3c694"]]},{"id":"19d97a98.3c3e85","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":612,"y":514,"wires":[]},{"id":"bc2667b2.cbc5b8","type":"mqtt in","z":"438ab136.239fa","name":"","topic":"env1/data","qos":"1","broker":"3b7e7ae0.0e3136","x":80,"y":40,"wires":[["915ce6bb.eb6c58","7372f1e6.0068"]]},{"id":"dc755e8d.9c575","type":"mqtt out","z":"438ab136.239fa","name":"","topic":"env1/data","qos":"","retain":"","broker":"3b7e7ae0.0e3136","x":260,"y":620,"wires":[]},{"id":"1097bae2.78cfc5","type":"inject","z":"438ab136.239fa","name":"dummy data","topic":"env1/data","payload":"{\"data\":{\"temp\":23.4,\"humidity\":45.6,\"pressure\":1005},\"ts\":12345678,\"ispublic\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":561,"wires":[["dc755e8d.9c575","b9209d2.83c566"]]},{"id":"915ce6bb.eb6c58","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":270,"y":40,"wires":[]},{"id":"7372f1e6.0068","type":"json","z":"438ab136.239fa","name":"","property":"payload","action":"","pretty":false,"x":110,"y":100,"wires":[["84c2e4ce.544248","1529e9c6.1de436"]]},{"id":"84c2e4ce.544248","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":300,"y":100,"wires":[]},{"id":"1529e9c6.1de436","type":"split","z":"438ab136.239fa","name":"要素分解","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":140,"y":140,"wires":[["c7b652a2.c8fdc"]]},{"id":"84d0614d.00e4a","type":"switch","z":"438ab136.239fa","name":"キーにより分岐","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"pressure","vt":"str"},{"t":"eq","v":"ts","vt":"str"},{"t":"eq","v":"ispublic","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":200,"y":280,"wires":[["e1e3f132.ed6ad","e10d1646.559008"],["cb8affda.5f69f"],["abbba2e3.2f208"],["e2fbcea3.3e6e9"],["6cee7a16.1edf24"],["9d6c4a06.13c9a8"]]},{"id":"e2fbcea3.3e6e9","type":"debug","z":"438ab136.239fa","name":"ts","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":654,"y":244,"wires":[]},{"id":"6cee7a16.1edf24","type":"debug","z":"438ab136.239fa","name":"ispublic","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":664,"y":309,"wires":[]},{"id":"9d6c4a06.13c9a8","type":"debug","z":"438ab136.239fa","name":"その他","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":662,"y":373,"wires":[]},{"id":"b9209d2.83c566","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":335,"y":559,"wires":[]},{"id":"c7b652a2.c8fdc","type":"switch","z":"438ab136.239fa","name":"タイプチェック","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":200,"wires":[["1529e9c6.1de436"],["84d0614d.00e4a","95705542.8ee408"]]},{"id":"91eb3aa.59f77c8","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"41178","acknoledge":true,"name":"HDMI","topic":"","x":80,"y":841,"wires":[["78721cce.b7e654","28d5da93.f739e6"]]},{"id":"14d4d60f.496e1a","type":"change","z":"ced38e95.976a3","name":"Next","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":829,"wires":[["bba20cd9.cc5db"]]},{"id":"78721cce.b7e654","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":842,"wires":[["14d4d60f.496e1a"],["a6d4f9ff.d07458"],["745c18d2.bbde38"]]},{"id":"a6d4f9ff.d07458","type":"change","z":"ced38e95.976a3","name":"Previous","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":579,"y":872,"wires":[["bba20cd9.cc5db"]]},{"id":"549f29a8.c55368","type":"http request","z":"438ab136.239fa","name":"IFTTTトリガー","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/env1/with/key/bHTyVKw8J52oaZ-bMV18hP","tls":"","x":460,"y":500,"wires":[["b6d344a3.d57868"]]},{"id":"b6d344a3.d57868","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":675,"y":509,"wires":[]},{"id":"3a606efe.d58422","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":681,"y":440,"wires":[]},{"id":"2e1e7790.806148","type":"join","z":"438ab136.239fa","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":445,"y":414,"wires":[["549f29a8.c55368","3a606efe.d58422"]]},{"id":"e1e3f132.ed6ad","type":"change","z":"438ab136.239fa","name":"{\"value1: 温度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":292,"y":363,"wires":[["2e1e7790.806148"]]},{"id":"cb8affda.5f69f","type":"change","z":"438ab136.239fa","name":"{\"value2\": 湿度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":291,"y":407,"wires":[["2e1e7790.806148"]]},{"id":"abbba2e3.2f208","type":"change","z":"438ab136.239fa","name":"{\"value3\": 気圧}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":292,"y":448,"wires":[["2e1e7790.806148"]]},{"id":"95705542.8ee408","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":400,"y":180,"wires":[]},{"id":"4e0fb9cf.e2c5f8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":205,"y":379,"wires":[]},{"id":"65ded331.1743ac","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":215,"y":503,"wires":[]},{"id":"cb2e6be0.82f938","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":215,"y":734,"wires":[]},{"id":"28d5da93.f739e6","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":217,"y":895,"wires":[]},{"id":"9677357.1513ac8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":200,"y":242,"wires":[]},{"id":"bbf4f8b8.83dbd8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":224,"y":606,"wires":[]},{"id":"745c18d2.bbde38","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":608,"y":917,"wires":[]},{"id":"9addf7f8.9f0e08","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":612,"y":752,"wires":[]},{"id":"e10d1646.559008","type":"link out","z":"438ab136.239fa","name":"温度","links":["81e324e7.361f88"],"x":655,"y":183,"wires":[]},{"id":"f2718f4.875aa7","type":"alexa-home-resp","z":"52e5256c.6ed94c","x":660,"y":280,"wires":[]},{"id":"81e324e7.361f88","type":"link in","z":"52e5256c.6ed94c","name":"温度","links":["e10d1646.559008"],"x":55,"y":160,"wires":[["5ad48ba8.c70d64","a8e3d2e7.ff3c7"]]},{"id":"5ad48ba8.c70d64","type":"change","z":"52e5256c.6ed94c","name":"{\"value\": 温度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":220,"wires":[["4aeba572.6e1e6c"]]},{"id":"a8e3d2e7.ff3c7","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":180,"y":160,"wires":[]},{"id":"4aeba572.6e1e6c","type":"join","z":"52e5256c.6ed94c","name":"温度の待ち合わせ","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"parts.key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":220,"wires":[["75a9472f.ccda08","76ec2356.9817bc","dbb1976f.138f18","68c83a98.4b4c44"]]},{"id":"75a9472f.ccda08","type":"change","z":"52e5256c.6ed94c","name":"Alexa応答の作成","rules":[{"t":"delete","p":"payload.command","pt":"msg"},{"t":"set","p":"extra.targetTemperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":280,"wires":[["b11d691d.0e0c88","f2718f4.875aa7","69244b52.161934"]]},{"id":"b11d691d.0e0c88","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"extra.targetTemperature","x":690,"y":320,"wires":[]},{"id":"6cf6a551.18db7c","type":"change","z":"52e5256c.6ed94c","name":"{\"command\": payload}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"command","tot":"str"},{"t":"move","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":100,"wires":[["4aeba572.6e1e6c"]]},{"id":"76ec2356.9817bc","type":"change","z":"52e5256c.6ed94c","name":"payload=温度","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"value","tot":"msg"},{"t":"move","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":160,"wires":[["5ad48ba8.c70d64","1a2a2201.4727fe"]]},{"id":"1a2a2201.4727fe","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":160,"wires":[]},{"id":"dbb1976f.138f18","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":220,"wires":[]},{"id":"69244b52.161934","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":380,"wires":[]},{"id":"da7babf3.521be8","type":"link out","z":"ced38e95.976a3","name":"command","links":["1999d4d7.4483fb"],"x":495,"y":20,"wires":[]},{"id":"1999d4d7.4483fb","type":"link in","z":"52e5256c.6ed94c","name":"command","links":["da7babf3.521be8","f4779d41.a9d18"],"x":55,"y":40,"wires":[["6cf6a551.18db7c","400faf69.e882b"]]},{"id":"400faf69.e882b","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":190,"y":40,"wires":[]},{"id":"85d9fe0e.cef39","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"41427","acknoledge":true,"name":"照明 シャープ 常夜灯","topic":"","x":127,"y":1005,"wires":[["2c84cc91.42e0b4"]]},{"id":"2c84cc91.42e0b4","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":371,"y":1007,"wires":[["3f7f38c4.4e8a38"],["77cd1bc1.df8724"],["3f7f38c4.4e8a38"],["77cd1bc1.df8724"]]},{"id":"3f7f38c4.4e8a38","type":"change","z":"ced38e95.976a3","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":995,"wires":[["c40c866c.2fffb8"]]},{"id":"77cd1bc1.df8724","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":593,"y":1036,"wires":[["c40c866c.2fffb8"]]},{"id":"d1d2415f.b87ff","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"LGの音量","inputtrigger":false,"x":80,"y":340,"wires":[["85a8eafb.bc3728","5e8317a9.e7ee38","f8880cd.b21fff","9ab819ee.f20a88","83a48a95.19ca58","97694e98.ee534","1f852ff4.f2f1d"]]},{"id":"5c8b8fd1.22de1","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"HDMI切替器","inputtrigger":false,"x":90,"y":40,"wires":[["75f72498.bf383c","4ac482c8.25b5cc","31dcf61e.acc29a","9ae2b3c4.5b128","ffcd6aa9.e72828","3cdb5f86.c261d","238b649d.41a6ac"]]},{"id":"75f72498.bf383c","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"on","x":240,"y":140,"wires":[]},{"id":"4ac482c8.25b5cc","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":100,"wires":[]},{"id":"31dcf61e.acc29a","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"on_off_command","x":210,"y":240,"wires":[]},{"id":"9ae2b3c4.5b128","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"bri","x":260,"y":280,"wires":[]},{"id":"ffcd6aa9.e72828","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"change_direction","x":170,"y":200,"wires":[]},{"id":"c09c630a.035fa","type":"change","z":"c5e85a5f.147a68","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(\"hdmi\" & payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":180,"wires":[["7c51897e.9133a8","6f9f83e7.bc21dc"]]},{"id":"7c51897e.9133a8","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1000,"y":140,"wires":[]},{"id":"992ea28c.894e5","type":"change","z":"c5e85a5f.147a68","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":588,"y":109,"wires":[["7c51897e.9133a8","6f9f83e7.bc21dc"]]},{"id":"442bccfd.91e6c4","type":"change","z":"c5e85a5f.147a68","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589,"y":144,"wires":[["7c51897e.9133a8","6f9f83e7.bc21dc"]]},{"id":"c8550c1c.cd081","type":"change","z":"c5e85a5f.147a68","name":"pip_ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"pip_ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589,"y":72,"wires":[["7c51897e.9133a8","6f9f83e7.bc21dc"]]},{"id":"6b0f50fc.24372","type":"change","z":"c5e85a5f.147a68","name":"pip","rules":[{"t":"set","p":"payload","pt":"msg","to":"pip","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":588,"y":39,"wires":[["7c51897e.9133a8","6f9f83e7.bc21dc"]]},{"id":"5aedd61.7298a28","type":"change","z":"c5e85a5f.147a68","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(\"hdmi\" & $floor((payload / 10)))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":587,"y":218,"wires":[["7c51897e.9133a8","6f9f83e7.bc21dc"]]},{"id":"f8880cd.b21fff","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"on","x":240,"y":440,"wires":[]},{"id":"85a8eafb.bc3728","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":400,"wires":[]},{"id":"5e8317a9.e7ee38","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"on_off_command","x":210,"y":540,"wires":[]},{"id":"97694e98.ee534","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"bri","x":260,"y":580,"wires":[]},{"id":"83a48a95.19ca58","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"change_direction","x":170,"y":500,"wires":[]},{"id":"3cdb5f86.c261d","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":410,"y":80,"wires":[["6b0f50fc.24372","cf5dad04.1e645"],["c8550c1c.cd081","cf5dad04.1e645"],["992ea28c.894e5","cf5dad04.1e645"],["442bccfd.91e6c4","cf5dad04.1e645"],["13fdc6f9.0f19a9","cf5dad04.1e645"]]},{"id":"8499cd62.7965c","type":"switch","z":"aa0904da.d689a8","name":"change_direction","property":"change_direction","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":390,"y":160,"wires":[["6ccc0fee.9dec9"],["3f953001.cce33"],["63dc37f7.d26098"]]},{"id":"71e4e010.c1042","type":"switch","z":"aa0904da.d689a8","name":"on_off_command","property":"on_off_command","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":80,"wires":[["d96ff458.4bd718"],["8499cd62.7965c"]]},{"id":"d96ff458.4bd718","type":"switch","z":"aa0904da.d689a8","name":"on","property":"on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":60,"wires":[["85ba3b33.f92e98"],["3036e890.e6cef8"]]},{"id":"238b649d.41a6ac","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"device_name","x":320,"y":40,"wires":[]},{"id":"9ab819ee.f20a88","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":410,"y":380,"wires":[["7ea054ba.f3b58c","fd19a2cf.27d6f"],["7ea054ba.f3b58c","fd19a2cf.27d6f"],["fd19a2cf.27d6f","fdd1844b.acca78","7738eaa3.460134"],["fd19a2cf.27d6f","63c22f23.c918d","e03029ee.5eaf88"],["c6b95bfa.fb6a98","fd19a2cf.27d6f"]]},{"id":"7ea054ba.f3b58c","type":"change","z":"c5e85a5f.147a68","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["928e5375.85fe7","49fd8869.f50a68"]]},{"id":"928e5375.85fe7","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1020,"y":480,"wires":[]},{"id":"fdd1844b.acca78","type":"change","z":"c5e85a5f.147a68","name":"+7","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":380,"wires":[["109eadc5.4c02a2"]]},{"id":"e2691772.ec89d8","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"count","x":810,"y":480,"wires":[]},{"id":"13a3bd50.d3c2c3","type":"change","z":"dfac1a83.a920b8","name":"payload ==> msg.count","rules":[{"t":"set","p":"count","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":60,"wires":[["bbd9943f.7e5ed8"]]},{"id":"bbd9943f.7e5ed8","type":"switch","z":"dfac1a83.a920b8","name":"up or down","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":140,"wires":[["2e981c25.01c424"],["6dca42.bea2f5c"]]},{"id":"8759b85e.c030b8","type":"delay","z":"dfac1a83.a920b8","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":140,"wires":[["8acd7c46.8e4c2"]]},{"id":"2e981c25.01c424","type":"change","z":"dfac1a83.a920b8","name":"vol_up","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":120,"wires":[["f57153c.55c94b"]]},{"id":"8acd7c46.8e4c2","type":"change","z":"dfac1a83.a920b8","name":"msg.count--","rules":[{"t":"set","p":"count","pt":"msg","to":"msg.count-1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":140,"wires":[["f57153c.55c94b"]]},{"id":"6dca42.bea2f5c","type":"change","z":"dfac1a83.a920b8","name":"vol_down","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down","tot":"str"},{"t":"set","p":"count","pt":"msg","to":"-count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["f57153c.55c94b"]]},{"id":"f57153c.55c94b","type":"switch","z":"dfac1a83.a920b8","name":"while msg.count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":140,"wires":[["8759b85e.c030b8"]]},{"id":"8b8a642f.5d16d8","type":"subflow:dfac1a83.a920b8","z":"c5e85a5f.147a68","name":"","x":780,"y":440,"wires":[["e2691772.ec89d8","928e5375.85fe7","49fd8869.f50a68"]]},{"id":"63c22f23.c918d","type":"change","z":"c5e85a5f.147a68","name":"-10","rules":[{"t":"set","p":"payload","pt":"msg","to":"-10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":420,"wires":[["109eadc5.4c02a2"]]},{"id":"ca450ca2.ffe96","type":"change","z":"c5e85a5f.147a68","name":"-n","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.((payload-10)*-1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["8b8a642f.5d16d8","109eadc5.4c02a2"]]},{"id":"d10cc1de.7101c","type":"change","z":"c5e85a5f.147a68","name":"+n","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(payload-20)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":500,"wires":[["8b8a642f.5d16d8","109eadc5.4c02a2"]]},{"id":"1f852ff4.f2f1d","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"device_name","x":320,"y":340,"wires":[]},{"id":"3036e890.e6cef8","type":"change","z":"aa0904da.d689a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[[]]},{"id":"85ba3b33.f92e98","type":"change","z":"aa0904da.d689a8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[[]]},{"id":"6ccc0fee.9dec9","type":"change","z":"aa0904da.d689a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":120,"wires":[[]]},{"id":"3f953001.cce33","type":"change","z":"aa0904da.d689a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[[]]},{"id":"63dc37f7.d26098","type":"change","z":"aa0904da.d689a8","name":"0..100","rules":[{"t":"set","p":"payload","pt":"msg","to":"bri","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[[]]},{"id":"13fdc6f9.0f19a9","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"49","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["c09c630a.035fa"],["5aedd61.7298a28"]]},{"id":"c6b95bfa.fb6a98","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"11","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"29","v2t":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"81","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":460,"wires":[["ca450ca2.ffe96"],["d10cc1de.7101c"],["7738eaa3.460134"],["e03029ee.5eaf88"]]},{"id":"fd19a2cf.27d6f","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":480,"y":540,"wires":[]},{"id":"cf5dad04.1e645","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":480,"y":260,"wires":[]},{"id":"109eadc5.4c02a2","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":740,"y":540,"wires":[]},{"id":"7738eaa3.460134","type":"change","z":"c5e85a5f.147a68","name":"vol_up_rep","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["928e5375.85fe7","f139fbf3.47ab48"]]},{"id":"e03029ee.5eaf88","type":"change","z":"c5e85a5f.147a68","name":"vol_down_rep","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":320,"wires":[["928e5375.85fe7","f139fbf3.47ab48"]]},{"id":"9a2a0132.1377f","type":"change","z":"c5e85a5f.147a68","name":"home","rules":[{"t":"set","p":"payload","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"d1359d31.215fc","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"11","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"29","v2t":"num"},{"t":"eq","v":"90","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"},{"t":"eq","v":"94","vt":"num"},{"t":"eq","v":"95","vt":"num"},{"t":"eq","v":"96","vt":"num"},{"t":"eq","v":"97","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":430,"y":840,"wires":[[],[],["9a2a0132.1377f"],["be86c25e.b08bb"],["91c6b8de.5846a8"],["64a7cefb.c6e4d"],["ee7a2af2.332738"],["f3820de3.26314"],["ec74ff80.5a15d"],["4ece0c87.ede674"]]},{"id":"b0b0c8b0.bbcaf8","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ソニーBL","inputtrigger":false,"x":80,"y":640,"wires":[["51ac9d06.5a1984"]]},{"id":"51ac9d06.5a1984","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":260,"y":660,"wires":[["a17255b8.971b08"],["a17255b8.971b08"],[],[],["d1359d31.215fc"]]},{"id":"be86c25e.b08bb","type":"change","z":"c5e85a5f.147a68","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":720,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"91c6b8de.5846a8","type":"change","z":"c5e85a5f.147a68","name":"back","rules":[{"t":"set","p":"payload","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":760,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"ee7a2af2.332738","type":"change","z":"c5e85a5f.147a68","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":840,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"ec74ff80.5a15d","type":"change","z":"c5e85a5f.147a68","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":920,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"f3820de3.26314","type":"change","z":"c5e85a5f.147a68","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":880,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"64a7cefb.c6e4d","type":"change","z":"c5e85a5f.147a68","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":800,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"4ece0c87.ede674","type":"change","z":"c5e85a5f.147a68","name":"option","rules":[{"t":"set","p":"payload","pt":"msg","to":"option","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":960,"wires":[["45128c2e.95f134","2838d5e1.7085ea"]]},{"id":"45128c2e.95f134","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1040,"y":800,"wires":[]},{"id":"a17255b8.971b08","type":"change","z":"c5e85a5f.147a68","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":620,"wires":[["2838d5e1.7085ea"]]},{"id":"4cf4595d.d8c968","type":"mqtt in","z":"263ed0bd.93952","name":"","topic":"env1/voice","qos":"1","broker":"3b7e7ae0.0e3136","x":80,"y":40,"wires":[["528d6d6.5552194","671a0da.7df5df4"]]},{"id":"528d6d6.5552194","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":40,"wires":[]},{"id":"de1e40f3.667e4","type":"split","z":"263ed0bd.93952","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":120,"wires":[["9be3551.dacdca8"]]},{"id":"b4fe9ab3.e300d8","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":400,"y":160,"wires":[]},{"id":"9be3551.dacdca8","type":"switch","z":"263ed0bd.93952","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"ts","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":160,"wires":[["b4fe9ab3.e300d8"],["47f02a94.2347b4"]]},{"id":"47f02a94.2347b4","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":400,"y":220,"wires":[]},{"id":"acc36367.3863a","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":400,"y":100,"wires":[]},{"id":"671a0da.7df5df4","type":"json","z":"263ed0bd.93952","name":"","property":"payload","action":"","pretty":false,"x":150,"y":80,"wires":[["de1e40f3.667e4","acc36367.3863a"]]},{"id":"c9776130.7c972","type":"mqtt in","z":"c23f6043.7369e","name":"","topic":"env1/voice","qos":"1","broker":"3b7e7ae0.0e3136","x":80,"y":40,"wires":[["191e8425.574cec"]]},{"id":"59e6400d.779c4","type":"split","z":"c23f6043.7369e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":120,"wires":[["2430070.60e87fa"]]},{"id":"2430070.60e87fa","type":"switch","z":"c23f6043.7369e","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"ts","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":160,"wires":[[],[]]},{"id":"191e8425.574cec","type":"json","z":"c23f6043.7369e","name":"","property":"payload","action":"","pretty":false,"x":210,"y":80,"wires":[["59e6400d.779c4"]]},{"id":"5119e9bd.492118","type":"subflow:c23f6043.7369e","z":"263ed0bd.93952","name":"","x":130,"y":360,"wires":[["dc202980.8cc4f8"],["32de4980.9cc186"],["8261c0d9.bd4ce"]]},{"id":"dc202980.8cc4f8","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":350,"y":320,"wires":[]},{"id":"32de4980.9cc186","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":350,"y":380,"wires":[]},{"id":"8261c0d9.bd4ce","type":"debug","z":"263ed0bd.93952","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":350,"y":440,"wires":[]},{"id":"2ef97b38.5e9264","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ダイソン ヒーター","inputtrigger":false,"x":110,"y":1020,"wires":[["90a23278.9987e"]]},{"id":"90a23278.9987e","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":420,"y":1040,"wires":[["a153e168.15873"],["a0ff3798.10dfc8"],["536cb4b4.e6993c"],["1e68ec57.5bac74"],["7be69c16.013744","1c8a7bbb.368104"]]},{"id":"536cb4b4.e6993c","type":"change","z":"c5e85a5f.147a68","name":"temp_up0","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_up0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1100,"wires":[["700392e7.3dfe1c"]]},{"id":"a153e168.15873","type":"change","z":"c5e85a5f.147a68","name":"power0","rules":[{"t":"set","p":"payload","pt":"msg","to":"power0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1020,"wires":[["700392e7.3dfe1c"]]},{"id":"a0ff3798.10dfc8","type":"change","z":"c5e85a5f.147a68","name":"power1","rules":[{"t":"set","p":"payload","pt":"msg","to":"power1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1060,"wires":[["700392e7.3dfe1c"]]},{"id":"1e68ec57.5bac74","type":"change","z":"c5e85a5f.147a68","name":"temp_down0","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_down0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1140,"wires":[["700392e7.3dfe1c"]]},{"id":"700392e7.3dfe1c","type":"link out","z":"c5e85a5f.147a68","name":"dyson","links":["8c0df6da.858278"],"x":975,"y":1020,"wires":[]},{"id":"7be69c16.013744","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":440,"y":1140,"wires":[]},{"id":"6f9f83e7.bc21dc","type":"link out","z":"c5e85a5f.147a68","name":"","links":["785414d9.b89cdc"],"x":995,"y":60,"wires":[]},{"id":"bdda5c1c.f75b1","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"hdmi","output":"1","x":330,"y":60,"wires":[],"inputLabels":["コマンド名"]},{"id":"785414d9.b89cdc","type":"link in","z":"401531fb.83535","name":"hdmi","links":["6f9f83e7.bc21dc","bba20cd9.cc5db"],"x":215,"y":60,"wires":[["bdda5c1c.f75b1"]]},{"id":"e23d7db7.c8114","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"lg_tv","output":"1","x":650,"y":100,"wires":[],"inputLabels":["コマンド名"]},{"id":"186001d3.33c54e","type":"link in","z":"401531fb.83535","name":"lg_tv","links":["7d056d0.7a3c694","f139fbf3.47ab48"],"x":515,"y":100,"wires":[["e23d7db7.c8114"]]},{"id":"87fe7e5.3d4d68","type":"link in","z":"401531fb.83535","name":"lg2","links":["49fd8869.f50a68"],"x":515,"y":160,"wires":[["824961e.4b106a"]]},{"id":"824961e.4b106a","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"lg2","output":"1","x":650,"y":160,"wires":[],"inputLabels":["コマンド名"]},{"id":"b7eda162.bfcab","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"sony_bl2","output":"1","x":660,"y":320,"wires":[],"inputLabels":["コマンド名"]},{"id":"6ab3b7ab.8b0a78","type":"link in","z":"401531fb.83535","name":"sony_bl2","links":["2838d5e1.7085ea","23bae425.c44a7c"],"x":515,"y":320,"wires":[["b7eda162.bfcab","ac42e510.eeea78"]]},{"id":"bba20cd9.cc5db","type":"link out","z":"ced38e95.976a3","name":"","links":["785414d9.b89cdc"],"x":795,"y":840,"wires":[]},{"id":"a44727f4.270bf8","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"nightlight","output":"1","x":660,"y":440,"wires":[]},{"id":"9fa2fb70.8307e8","type":"link in","z":"401531fb.83535","name":"nightlight","links":["c40c866c.2fffb8"],"x":515,"y":440,"wires":[["a44727f4.270bf8"]]},{"id":"7d056d0.7a3c694","type":"link out","z":"ced38e95.976a3","name":"","links":["186001d3.33c54e"],"x":795,"y":680,"wires":[]},{"id":"c40c866c.2fffb8","type":"link out","z":"ced38e95.976a3","name":"nightlight","links":["9fa2fb70.8307e8"],"x":815,"y":1000,"wires":[]},{"id":"2838d5e1.7085ea","type":"link out","z":"c5e85a5f.147a68","name":"sony_bl2","links":["6ab3b7ab.8b0a78","3d572f6e.07de3"],"x":995,"y":680,"wires":[]},{"id":"f139fbf3.47ab48","type":"link out","z":"c5e85a5f.147a68","name":"lg_tv","links":["186001d3.33c54e"],"x":995,"y":280,"wires":[]},{"id":"49fd8869.f50a68","type":"link out","z":"c5e85a5f.147a68","name":"lg2","links":["87fe7e5.3d4d68"],"x":995,"y":380,"wires":[]},{"id":"d73bbe46.3c82","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"dyson","output":"1","x":330,"y":220,"wires":[]},{"id":"8c0df6da.858278","type":"link in","z":"401531fb.83535","name":"dyson","links":["700392e7.3dfe1c","3e43501c.35ab9"],"x":215,"y":220,"wires":[["d73bbe46.3c82"]]},{"id":"3e43501c.35ab9","type":"link out","z":"ced38e95.976a3","name":"dyson","links":["8c0df6da.858278"],"x":755,"y":80,"wires":[]},{"id":"4a180beb.4bfba4","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"lamp","output":"1","x":330,"y":380,"wires":[]},{"id":"e782cc51.e7532","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"aircon","output":"1","x":330,"y":300,"wires":[]},{"id":"a1313819.b62168","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"nightlight","output":"1","x":892,"y":954,"wires":[]},{"id":"a946fde0.410ec","type":"link in","z":"401531fb.83535","name":"aircon","links":["3080a5.00c9af5c"],"x":215,"y":300,"wires":[["e782cc51.e7532"]]},{"id":"7bce820.8e96a8","type":"link in","z":"401531fb.83535","name":"lamp","links":["5d5f1c44.a5d224"],"x":215,"y":380,"wires":[["4a180beb.4bfba4"]]},{"id":"5d5f1c44.a5d224","type":"link out","z":"ced38e95.976a3","name":"","links":["7bce820.8e96a8"],"x":795,"y":320,"wires":[]},{"id":"3080a5.00c9af5c","type":"link out","z":"ced38e95.976a3","name":"aircon","links":["a946fde0.410ec"],"x":795,"y":440,"wires":[]},{"id":"d5a03e35.2a6b7","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":140,"wires":[]},{"id":"99772f03.3dfb5","type":"link in","z":"52e5256c.6ed94c","name":"応答温度","links":["d36c95e.3b91668"],"x":215,"y":440,"wires":[["4ed71063.3231d","d35eb11a.af49e"]]},{"id":"d36c95e.3b91668","type":"link out","z":"ced38e95.976a3","name":"応答温度","links":["99772f03.3dfb5"],"x":555,"y":160,"wires":[]},{"id":"1c8a7bbb.368104","type":"link out","z":"c5e85a5f.147a68","name":"dyson 温度指定","links":["19a26e16.5b8132"],"x":655,"y":1180,"wires":[]},{"id":"c6993437.091328","type":"exec","z":"401531fb.83535","command":"/etc/lirc/lircd.conf.d/dyson_temp0.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":400,"y":520,"wires":[["fc7a87dc.3be708"],["fc7a87dc.3be708"],[]]},{"id":"fc7a87dc.3be708","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":680,"y":520,"wires":[]},{"id":"19a26e16.5b8132","type":"link in","z":"401531fb.83535","name":"dyson温度指定","links":["1c8a7bbb.368104","b8ec92e6.a07fb"],"x":215,"y":520,"wires":[["c6993437.091328"]]},{"id":"b8ec92e6.a07fb","type":"link out","z":"ced38e95.976a3","name":"dyson温度指定","links":["19a26e16.5b8132"],"x":755,"y":200,"wires":[]},{"id":"4ed71063.3231d","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":480,"wires":[]},{"id":"d35eb11a.af49e","type":"change","z":"52e5256c.6ed94c","name":"Alexa応答の作成","rules":[{"t":"set","p":"extra.targetTemperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"extraInfo","pt":"msg","to":"{}","tot":"json"},{"t":"delete","p":"payload.command","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["8670704b.c0712","83c1b99e.0906a8"]]},{"id":"b8dd7fe5.472c8","type":"delay","z":"ced38e95.976a3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":200,"wires":[["b8ec92e6.a07fb"]]},{"id":"8670704b.c0712","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"extra.targetTemperature","x":690,"y":480,"wires":[]},{"id":"83c1b99e.0906a8","type":"alexa-home-resp","z":"52e5256c.6ed94c","x":660,"y":440,"wires":[]},{"id":"68c83a98.4b4c44","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":640,"y":100,"wires":[]},{"id":"ed9824be.f71fb8","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"sony_bl","output":"1","x":660,"y":260,"wires":[],"inputLabels":["コマンド名"]},{"id":"3d572f6e.07de3","type":"link in","z":"401531fb.83535","name":"sony_bl","links":["2838d5e1.7085ea","4c113f3e.5b7f3"],"x":515,"y":260,"wires":[["ed9824be.f71fb8","ac42e510.eeea78"]]},{"id":"fa10d29e.76ddd","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ソニー チャンネル","inputtrigger":false,"x":110,"y":1240,"wires":[["742bad0c.ce1144"]]},{"id":"742bad0c.ce1144","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":340,"y":1260,"wires":[["9f08383f.8ac7e8","ccaee864.cd6c68"],["9f08383f.8ac7e8","ccaee864.cd6c68"],["459a56ca.8fa488","9f08383f.8ac7e8"],["f6467816.976718","9f08383f.8ac7e8"],["9f08383f.8ac7e8","2c77245f.3a656c"]]},{"id":"60e29ef5.00beb","type":"change","z":"c5e85a5f.147a68","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(\"ch_\" & payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1600,"wires":[["4c113f3e.5b7f3"]]},{"id":"4c113f3e.5b7f3","type":"link out","z":"c5e85a5f.147a68","name":"","links":["3d572f6e.07de3"],"x":915,"y":1600,"wires":[]},{"id":"9f08383f.8ac7e8","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":220,"y":1360,"wires":[]},{"id":"2c77245f.3a656c","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"80","vt":"num","v2":"100","v2t":"num"},{"t":"btwn","v":"40","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"29","v2t":"num"},{"t":"btwn","v":"31","vt":"num","v2":"39","v2t":"num"},{"t":"btwn","v":"1","vt":"num","v2":"12","v2t":"num"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":1320,"wires":[["d8355f5b.c36e6"],[],["42c9883b.171548"],[],["60e29ef5.00beb"]]},{"id":"459a56ca.8fa488","type":"change","z":"c5e85a5f.147a68","name":"ch_up","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1240,"wires":[["23bae425.c44a7c"]]},{"id":"f6467816.976718","type":"change","z":"c5e85a5f.147a68","name":"ch_down","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1280,"wires":[["23bae425.c44a7c"]]},{"id":"23bae425.c44a7c","type":"link out","z":"c5e85a5f.147a68","name":"","links":["6ab3b7ab.8b0a78"],"x":975,"y":1220,"wires":[]},{"id":"d8355f5b.c36e6","type":"change","z":"c5e85a5f.147a68","name":"ch_up","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1320,"wires":[["23bae425.c44a7c"]]},{"id":"64c5b3a7.4b5dec","type":"change","z":"c5e85a5f.147a68","name":"ch_down","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1360,"wires":[["23bae425.c44a7c","e9d4548b.a6f078","55c0effe.425c3"]]},{"id":"ac42e510.eeea78","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":680,"y":380,"wires":[]},{"id":"e9d4548b.a6f078","type":"delay","z":"c5e85a5f.147a68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":1360,"wires":[["b111283a.08c0a8"]]},{"id":"42c9883b.171548","type":"change","z":"c5e85a5f.147a68","name":"i=p-20","rules":[{"t":"set","p":"i","pt":"msg","to":"msg.($number(payload) - 20)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1360,"wires":[["813e40ac.e37e6"]]},{"id":"b111283a.08c0a8","type":"change","z":"c5e85a5f.147a68","name":"i--","rules":[{"t":"set","p":"i","pt":"msg","to":"msg.($string($number(i) - 1))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1360,"wires":[["813e40ac.e37e6"]]},{"id":"813e40ac.e37e6","type":"switch","z":"c5e85a5f.147a68","name":"i > 0","property":"i","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1360,"wires":[["64c5b3a7.4b5dec"]]},{"id":"55c0effe.425c3","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"i","x":1140,"y":1280,"wires":[]},{"id":"d1ff2847.b17e98","type":"change","z":"c5e85a5f.147a68","name":"ch_up","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1420,"wires":[["cf523d90.253f6","23bae425.c44a7c"]]},{"id":"cf523d90.253f6","type":"delay","z":"c5e85a5f.147a68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":1420,"wires":[["8e4b486e.f085a8"]]},{"id":"8e4b486e.f085a8","type":"switch","z":"c5e85a5f.147a68","name":"sw==on?","property":"sw","propertyType":"global","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":740,"y":1420,"wires":[["d1ff2847.b17e98","c06d1af9.ab31e8"],["c06d1af9.ab31e8"]]},{"id":"ccaee864.cd6c68","type":"change","z":"c5e85a5f.147a68","name":"sw=p","rules":[{"t":"set","p":"sw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1420,"wires":[["8e4b486e.f085a8"]]},{"id":"a89b8c1f.06d48","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1040,"y":1500,"wires":[]},{"id":"c06d1af9.ab31e8","type":"change","z":"c5e85a5f.147a68","name":"p=sw","rules":[{"t":"set","p":"payload","pt":"msg","to":"sw","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1500,"wires":[["a89b8c1f.06d48"]]}]