flows_rpi0w-remocon.json
[{"id":"90fcc61b.a341d8","type":"tab","label":"Beebotte:IR1","disabled":false,"info":""},{"id":"40512d3f.bb76f4","type":"tab","label":"Beebotte:Home env","disabled":false,"info":""},{"id":"401531fb.83535","type":"tab","label":"デバイス","disabled":false,"info":""},{"id":"ced38e95.976a3","type":"tab","label":"Alexa Home","disabled":false,"info":""},{"id":"52e5256c.6ed94c","type":"tab","label":"Alexaの応答","disabled":false,"info":""},{"id":"c5e85a5f.147a68","type":"tab","label":"Alexa Local","disabled":false,"info":""},{"id":"a9677944.398948","type":"tab","label":"lirc-analyze","disabled":false,"info":""},{"id":"438ab136.239fa","type":"tab","label":"beebotte→温度,湿度,気圧","disabled":false,"info":""},{"id":"263ed0bd.93952","type":"tab","label":"GoogleAssistant (IFTTT, beebotte)","disabled":false,"info":""},{"id":"5912065e.3e9be8","type":"tab","label":"Heroku","disabled":true,"info":""},{"id":"aa0904da.d689a8","type":"subflow","name":"コマンド分岐","info":"Alexa Localからの入力を分岐","category":"","in":[{"x":40,"y":80,"wires":[{"id":"71e4e010.c1042"}]}],"out":[{"x":660,"y":40,"wires":[{"id":"85ba3b33.f92e98","port":0}]},{"x":660,"y":80,"wires":[{"id":"3036e890.e6cef8","port":0}]},{"x":660,"y":120,"wires":[{"id":"6ccc0fee.9dec9","port":0}]},{"x":660,"y":160,"wires":[{"id":"3f953001.cce33","port":0}]},{"x":660,"y":200,"wires":[{"id":"63dc37f7.d26098","port":0}]}],"inputLabels":["Alexa Localからのmsg"],"outputLabels":["on","off","up","down","1..100"]},{"id":"dfac1a83.a920b8","type":"subflow","name":"vol up/down","info":"# payloadに変化量\n\n  payload > 0: vol_up\n  \n  payload < 0: vol_down\n","category":"","in":[{"x":60,"y":60,"wires":[{"id":"13a3bd50.d3c2c3"}]}],"out":[{"x":1000,"y":140,"wires":[{"id":"8acd7c46.8e4c2","port":0}]}],"inputLabels":["変化量"],"outputLabels":["vol_up/down"]},{"id":"4c94e976.9a29e8","type":"alexa-home-conf","z":"","username":"ytani"},{"id":"ea87affe.5cedd","type":"lirc-controller","z":"","name":"SEND_ONCE"},{"id":"189d44fe.8ba0db","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38f3d975.e68376","type":"ui_group","z":"","name":"エアコン:暖房","tab":"dc8ccc91.6ab8c","order":7,"disp":true,"width":"4","collapse":false},{"id":"dc8ccc91.6ab8c","type":"ui_tab","z":"","name":"家電コントロール","icon":"dashboard","order":2},{"id":"cfd31d5a.7257b","type":"ui_group","z":"","name":"ダイソンファン","tab":"dc8ccc91.6ab8c","order":8,"disp":true,"width":"3","collapse":false},{"id":"3b7e7ae0.0e3136","type":"mqtt-broker","z":"","name":"home_env","broker":"mqtt.beebotte.com","port":"8883","tls":"9085588b.f27808","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9085588b.f27808","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"6a788e0b.50642","type":"ui_group","z":"","name":"lirc-analyze","tab":"162e01ad.1f3c1e","order":1,"disp":true,"width":"7","collapse":false},{"id":"162e01ad.1f3c1e","type":"ui_tab","z":"","name":"システム","icon":"dashboard","order":3},{"id":"21133d7c.d71f22","type":"ui_group","z":"","name":"LIRC","tab":"162e01ad.1f3c1e","order":3,"disp":true,"width":"7","collapse":false},{"id":"7da4270b.79dae8","type":"ui_group","z":"","name":"スペース1","tab":"162e01ad.1f3c1e","order":2,"disp":false,"width":"7","collapse":false},{"id":"da92d2a6.edbd4","type":"ui_spacer","name":"spacer","group":"7da4270b.79dae8","order":3,"width":1,"height":"1"},{"id":"1f867ae6.2e2585","type":"ui_spacer","name":"spacer","group":"ec673621.ea89e8","order":4,"width":1,"height":1},{"id":"cb77481c.fb8e58","type":"ui_spacer","name":"spacer","group":"8d95f627.97b3c8","order":5,"width":1,"height":1},{"id":"15fac97f.fd39e7","type":"ui_group","z":"","name":"システム","tab":"162e01ad.1f3c1e","order":5,"disp":true,"width":"6","collapse":false},{"id":"a3836c1d.4a1d3","type":"mqtt-broker","z":"","name":"","broker":"m15.cloudmqtt.com","port":"26028","tls":"9085588b.f27808","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd694845.47f768","type":"ui_tab","z":"","name":"環境情報","icon":"dashboard","order":1},{"id":"ceb633f9.2a4b","type":"ui_spacer","name":"spacer","group":"","order":8,"width":"1","height":1},{"id":"f999fad6.13e8b8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":"1","height":1},{"id":"f6fc5c64.157d8","type":"ui_spacer","name":"spacer","group":"6811c80c.874858","order":5,"width":1,"height":1},{"id":"3e2ab8fa.bf9368","type":"ui_group","z":"","name":"温度[℃]","tab":"bd694845.47f768","order":1,"disp":false,"width":"8","collapse":false},{"id":"9665962d.fbc538","type":"ui_group","z":"","name":"スペース2","tab":"162e01ad.1f3c1e","order":4,"disp":false,"width":"7","collapse":false},{"id":"d6f7ae9a.acfae","type":"ui_spacer","name":"spacer","group":"9665962d.fbc538","order":5,"width":1,"height":1},{"id":"983ce956.6ac868","type":"mqtt-broker","z":"","name":"env1","broker":"mqtt.beebotte.com","port":"8883","tls":"9085588b.f27808","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e3dec1c.ac0f04","type":"ui_group","z":"","name":"湿度[%]","tab":"bd694845.47f768","order":2,"disp":false,"width":"8","collapse":false},{"id":"21715a7f.6b1696","type":"ui_spacer","name":"spacer","group":"cfd31d5a.7257b","order":5,"width":"1","height":1},{"id":"20de4360.dd199c","type":"ui_spacer","name":"spacer","group":"cfd31d5a.7257b","order":2,"width":"1","height":1},{"id":"8c868524.b8ecd8","type":"ui_spacer","name":"spacer","group":"cfd31d5a.7257b","order":3,"width":1,"height":1},{"id":"65554414.298edc","type":"ui_spacer","name":"spacer","group":"cfd31d5a.7257b","order":6,"width":1,"height":1},{"id":"34ea6434.4c9ffc","type":"ui_spacer","name":"spacer","group":"38f3d975.e68376","order":2,"width":1,"height":1},{"id":"47784033.11347","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"1","height":1},{"id":"375352a1.06bbbe","type":"ui_group","z":"","name":"レコーダー:再生・録画","tab":"dc8ccc91.6ab8c","order":6,"disp":true,"width":"7","collapse":true},{"id":"6a05e253.26479c","type":"ui_spacer","name":"spacer","group":"375352a1.06bbbe","order":10,"width":1,"height":1},{"id":"409ef6f0.f1f798","type":"ui_spacer","name":"spacer","group":"375352a1.06bbbe","order":12,"width":"4","height":1},{"id":"e793228a.0f32e","type":"ui_group","z":"","name":"レコーダー","tab":"dc8ccc91.6ab8c","order":3,"disp":true,"width":"7","collapse":false},{"id":"dbdf4eff.413bb","type":"ui_spacer","name":"spacer","group":"e793228a.0f32e","order":10,"width":1,"height":1},{"id":"2a8704ec.2139bc","type":"ui_spacer","name":"spacer","group":"e793228a.0f32e","order":8,"width":1,"height":1},{"id":"8e7371ad.0f2da","type":"ui_spacer","name":"spacer","group":"e793228a.0f32e","order":14,"width":1,"height":1},{"id":"e848958d.2d7ff8","type":"ui_spacer","name":"spacer","group":"e793228a.0f32e","order":22,"width":1,"height":1},{"id":"c7965a7a.0a6ee8","type":"ui_spacer","name":"spacer","group":"e793228a.0f32e","order":24,"width":"1","height":1},{"id":"f21ad1f.7e1e23","type":"ui_group","z":"","name":"TV:1","tab":"dc8ccc91.6ab8c","order":1,"disp":true,"width":"7","collapse":true},{"id":"5a52bb9e.f2cf54","type":"ui_group","z":"","name":"TV: 2","tab":"dc8ccc91.6ab8c","order":2,"disp":true,"width":"7","collapse":true},{"id":"c063901b.31ca5","type":"mqtt-broker","z":"","name":"IR1","broker":"mqtt.beebotte.com","port":"8883","tls":"9085588b.f27808","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bf00340.eb323c","type":"ui_group","z":"","name":"温度・湿度","tab":"bd694845.47f768","order":3,"disp":false,"width":"8","collapse":false},{"id":"9b3969ab.5a64d8","type":"ui_spacer","name":"spacer","group":"e793228a.0f32e","order":2,"width":1,"height":1},{"id":"7f309aa2.0802c4","type":"ui_spacer","name":"spacer","group":"375352a1.06bbbe","order":5,"width":"3","height":1},{"id":"a359653e.94b4c8","type":"ui_spacer","name":"spacer","group":"375352a1.06bbbe","order":9,"width":"3","height":1},{"id":"51347206.f77d3c","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"40217","acknoledge":false,"name":"ダイソン","topic":"","x":80,"y":80,"wires":[["5901fca9.b71544","1864c7e.9908138","d5a03e35.2a6b7"]]},{"id":"211ddf02.ddf41","type":"change","z":"ced38e95.976a3","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"power0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":60,"wires":[["3e43501c.35ab9"]]},{"id":"6faa1423.27f5ac","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"power1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":100,"wires":[["3e43501c.35ab9"]]},{"id":"df02b123.8bb7d","type":"change","z":"ced38e95.976a3","name":"Temp Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_up0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["3e43501c.35ab9"]]},{"id":"27f26fa4.e6e2e","type":"change","z":"ced38e95.976a3","name":"Temp Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_down0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[["3e43501c.35ab9"]]},{"id":"93df164f.4a59d8","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"40588","acknoledge":true,"name":"ボール ランプ","topic":"","x":90,"y":300,"wires":[["4e0fb9cf.e2c5f8","f73b6796.e2e798","b530b869.2d7f18","3d8c0eb6.c3c212","f75f90c4.08fb2","834e786b.c24df8"]]},{"id":"24bf69fa.807226","type":"change","z":"ced38e95.976a3","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["5d5f1c44.a5d224"]]},{"id":"4c0b34ab.4ce5dc","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["5d5f1c44.a5d224"]]},{"id":"5901fca9.b71544","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":360,"y":80,"wires":[["211ddf02.ddf41","da7babf3.521be8"],["6faa1423.27f5ac","da7babf3.521be8"],["df02b123.8bb7d","d36c95e.3b91668"],["27f26fa4.e6e2e","d36c95e.3b91668"],["d36c95e.3b91668","b8ec92e6.a07fb"]]},{"id":"1864c7e.9908138","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":140,"wires":[]},{"id":"e67b4c26.72eda","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"40923","acknoledge":true,"name":"スマートエアコン","topic":"","x":110,"y":880,"wires":[["417109b7.0299a8","65ded331.1743ac"]]},{"id":"417109b7.0299a8","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":366,"y":881,"wires":[["9bb6028a.0342d"],["d6da71a5.5436a"],["19d97a98.3c3e85"],["19d97a98.3c3e85"]]},{"id":"9bb6028a.0342d","type":"change","z":"ced38e95.976a3","name":"ON Hot 24℃","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_hot_24","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":588,"y":860,"wires":[["3080a5.00c9af5c"]]},{"id":"d6da71a5.5436a","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":903,"wires":[["3080a5.00c9af5c"]]},{"id":"d02644b8.bfa428","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"41011","acknoledge":true,"name":"スマート音量","topic":"","x":95,"y":1018,"wires":[["bc91466e.cf2cc8","cb2e6be0.82f938"]]},{"id":"bc91466e.cf2cc8","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":362,"y":1019,"wires":[["9c0e26ef.6b1ab8"],["51d46508.cfa2fc"],["9addf7f8.9f0e08"]]},{"id":"9c0e26ef.6b1ab8","type":"change","z":"ced38e95.976a3","name":"Vol Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1008,"wires":[["7d056d0.7a3c694"]]},{"id":"51d46508.cfa2fc","type":"change","z":"ced38e95.976a3","name":"Vol Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1049,"wires":[["7d056d0.7a3c694"]]},{"id":"19d97a98.3c3e85","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":609,"y":944,"wires":[]},{"id":"bc2667b2.cbc5b8","type":"mqtt in","z":"438ab136.239fa","name":"","topic":"home_env/data","qos":"1","broker":"3b7e7ae0.0e3136","x":100,"y":40,"wires":[["915ce6bb.eb6c58","7372f1e6.0068"]]},{"id":"dc755e8d.9c575","type":"mqtt out","z":"438ab136.239fa","name":"","topic":"env1/data","qos":"","retain":"","broker":"3b7e7ae0.0e3136","x":260,"y":620,"wires":[]},{"id":"1097bae2.78cfc5","type":"inject","z":"438ab136.239fa","name":"dummy data","topic":"env1/data","payload":"{\"data\":{\"temp\":24.4,\"humidity\":45.6,\"pressure\":1005},\"ts\":12345678,\"ispublic\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":561,"wires":[["dc755e8d.9c575","b9209d2.83c566"]]},{"id":"915ce6bb.eb6c58","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":270,"y":40,"wires":[]},{"id":"7372f1e6.0068","type":"json","z":"438ab136.239fa","name":"","property":"payload","action":"","pretty":false,"x":110,"y":100,"wires":[["84c2e4ce.544248","1529e9c6.1de436"]]},{"id":"84c2e4ce.544248","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":300,"y":100,"wires":[]},{"id":"1529e9c6.1de436","type":"split","z":"438ab136.239fa","name":"要素分解","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":140,"y":140,"wires":[["c7b652a2.c8fdc"]]},{"id":"84d0614d.00e4a","type":"switch","z":"438ab136.239fa","name":"キーにより分岐","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"pressure","vt":"str"},{"t":"eq","v":"ts","vt":"str"},{"t":"eq","v":"ispublic","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":200,"y":280,"wires":[["e1e3f132.ed6ad","e10d1646.559008"],["cb8affda.5f69f"],["abbba2e3.2f208"],["e2fbcea3.3e6e9"],["6cee7a16.1edf24"],["9d6c4a06.13c9a8"]]},{"id":"e2fbcea3.3e6e9","type":"debug","z":"438ab136.239fa","name":"ts","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":654,"y":244,"wires":[]},{"id":"6cee7a16.1edf24","type":"debug","z":"438ab136.239fa","name":"ispublic","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":664,"y":309,"wires":[]},{"id":"9d6c4a06.13c9a8","type":"debug","z":"438ab136.239fa","name":"その他","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":662,"y":373,"wires":[]},{"id":"b9209d2.83c566","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":335,"y":559,"wires":[]},{"id":"c7b652a2.c8fdc","type":"switch","z":"438ab136.239fa","name":"タイプチェック","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":200,"wires":[["1529e9c6.1de436"],["84d0614d.00e4a","95705542.8ee408"]]},{"id":"91eb3aa.59f77c8","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"41178","acknoledge":true,"name":"HDMI","topic":"","x":70,"y":1220,"wires":[["28d5da93.f739e6","65a015cd.8d972c","4a83cf78.1883c"]]},{"id":"549f29a8.c55368","type":"http request","z":"438ab136.239fa","name":"IFTTTトリガー","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/env1/with/key/bHTyVKw8J52oaZ-bMV18hP","tls":"","x":460,"y":500,"wires":[["b6d344a3.d57868"]]},{"id":"b6d344a3.d57868","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":675,"y":509,"wires":[]},{"id":"3a606efe.d58422","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":681,"y":440,"wires":[]},{"id":"2e1e7790.806148","type":"join","z":"438ab136.239fa","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":445,"y":414,"wires":[["549f29a8.c55368","3a606efe.d58422"]]},{"id":"e1e3f132.ed6ad","type":"change","z":"438ab136.239fa","name":"{\"value1: 温度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":292,"y":363,"wires":[["2e1e7790.806148"]]},{"id":"cb8affda.5f69f","type":"change","z":"438ab136.239fa","name":"{\"value2\": 湿度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":291,"y":407,"wires":[["2e1e7790.806148"]]},{"id":"abbba2e3.2f208","type":"change","z":"438ab136.239fa","name":"{\"value3\": 気圧}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":292,"y":448,"wires":[["2e1e7790.806148"]]},{"id":"95705542.8ee408","type":"debug","z":"438ab136.239fa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":400,"y":180,"wires":[]},{"id":"4e0fb9cf.e2c5f8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":150,"y":380,"wires":[]},{"id":"65ded331.1743ac","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":212,"y":933,"wires":[]},{"id":"cb2e6be0.82f938","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":215,"y":1074,"wires":[]},{"id":"28d5da93.f739e6","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":140,"y":1319,"wires":[]},{"id":"9addf7f8.9f0e08","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":612,"y":1092,"wires":[]},{"id":"e10d1646.559008","type":"link out","z":"438ab136.239fa","name":"温度","links":["81e324e7.361f88"],"x":655,"y":183,"wires":[]},{"id":"da7babf3.521be8","type":"link out","z":"ced38e95.976a3","name":"Alexa応答：はい","links":["1999d4d7.4483fb"],"x":575,"y":20,"wires":[]},{"id":"400faf69.e882b","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":280,"y":80,"wires":[]},{"id":"85d9fe0e.cef39","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"41427","acknoledge":true,"name":"照明 シャープ 常夜灯","topic":"","x":120,"y":1660,"wires":[["2c84cc91.42e0b4"]]},{"id":"2c84cc91.42e0b4","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":340,"y":1660,"wires":[["3f7f38c4.4e8a38"],["77cd1bc1.df8724"],["3f7f38c4.4e8a38"],["77cd1bc1.df8724"]]},{"id":"3f7f38c4.4e8a38","type":"change","z":"ced38e95.976a3","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1640,"wires":[["c40c866c.2fffb8"]]},{"id":"77cd1bc1.df8724","type":"change","z":"ced38e95.976a3","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1680,"wires":[["c40c866c.2fffb8"]]},{"id":"d1d2415f.b87ff","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"LGの音量","inputtrigger":false,"x":80,"y":740,"wires":[["9ab819ee.f20a88"]]},{"id":"5c8b8fd1.22de1","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"HDMI切替器","inputtrigger":false,"x":90,"y":40,"wires":[["3cdb5f86.c261d"]]},{"id":"c09c630a.035fa","type":"change","z":"c5e85a5f.147a68","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(\"hdmi\" & payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["6f9f83e7.bc21dc"]]},{"id":"992ea28c.894e5","type":"change","z":"c5e85a5f.147a68","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":488,"y":109,"wires":[["6f9f83e7.bc21dc"]]},{"id":"442bccfd.91e6c4","type":"change","z":"c5e85a5f.147a68","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":489,"y":144,"wires":[["6f9f83e7.bc21dc"]]},{"id":"c8550c1c.cd081","type":"change","z":"c5e85a5f.147a68","name":"pip_ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"pip_ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":489,"y":72,"wires":[["6f9f83e7.bc21dc"]]},{"id":"6b0f50fc.24372","type":"change","z":"c5e85a5f.147a68","name":"pip","rules":[{"t":"set","p":"payload","pt":"msg","to":"pip","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":488,"y":39,"wires":[["6f9f83e7.bc21dc"]]},{"id":"5aedd61.7298a28","type":"change","z":"c5e85a5f.147a68","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(\"hdmi\" & $floor((payload / 10)))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":487,"y":218,"wires":[["6f9f83e7.bc21dc"]]},{"id":"3cdb5f86.c261d","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":260,"y":60,"wires":[["6b0f50fc.24372"],["c8550c1c.cd081"],["992ea28c.894e5"],["442bccfd.91e6c4"],["13fdc6f9.0f19a9"]]},{"id":"8499cd62.7965c","type":"switch","z":"aa0904da.d689a8","name":"change_direction","property":"change_direction","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":390,"y":160,"wires":[["6ccc0fee.9dec9"],["3f953001.cce33"],["63dc37f7.d26098"]]},{"id":"71e4e010.c1042","type":"switch","z":"aa0904da.d689a8","name":"on_off_command","property":"on_off_command","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":80,"wires":[["d96ff458.4bd718"],["8499cd62.7965c"]]},{"id":"d96ff458.4bd718","type":"switch","z":"aa0904da.d689a8","name":"on","property":"on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":60,"wires":[["85ba3b33.f92e98"],["3036e890.e6cef8"]]},{"id":"9ab819ee.f20a88","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":240,"y":780,"wires":[["7ea054ba.f3b58c"],["7ea054ba.f3b58c"],["fdd1844b.acca78","7738eaa3.460134"],["63c22f23.c918d","e03029ee.5eaf88"],["c6b95bfa.fb6a98"]]},{"id":"7ea054ba.f3b58c","type":"change","z":"c5e85a5f.147a68","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":740,"wires":[["49fd8869.f50a68"]]},{"id":"fdd1844b.acca78","type":"change","z":"c5e85a5f.147a68","name":"+7","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":780,"wires":[[]]},{"id":"13a3bd50.d3c2c3","type":"change","z":"dfac1a83.a920b8","name":"payload ==> msg.count","rules":[{"t":"set","p":"count","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":60,"wires":[["bbd9943f.7e5ed8"]]},{"id":"bbd9943f.7e5ed8","type":"switch","z":"dfac1a83.a920b8","name":"up or down","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":140,"wires":[["2e981c25.01c424"],["6dca42.bea2f5c"]]},{"id":"8759b85e.c030b8","type":"delay","z":"dfac1a83.a920b8","name":"","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":140,"wires":[["8acd7c46.8e4c2"]]},{"id":"2e981c25.01c424","type":"change","z":"dfac1a83.a920b8","name":"vol_up","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":120,"wires":[["f57153c.55c94b"]]},{"id":"8acd7c46.8e4c2","type":"change","z":"dfac1a83.a920b8","name":"msg.count--","rules":[{"t":"set","p":"count","pt":"msg","to":"msg.count-1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":140,"wires":[["f57153c.55c94b"]]},{"id":"6dca42.bea2f5c","type":"change","z":"dfac1a83.a920b8","name":"vol_down","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down","tot":"str"},{"t":"set","p":"count","pt":"msg","to":"-count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["f57153c.55c94b"]]},{"id":"f57153c.55c94b","type":"switch","z":"dfac1a83.a920b8","name":"while msg.count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":140,"wires":[["8759b85e.c030b8"]]},{"id":"8b8a642f.5d16d8","type":"subflow:dfac1a83.a920b8","z":"c5e85a5f.147a68","name":"","x":630,"y":860,"wires":[["49fd8869.f50a68"]]},{"id":"63c22f23.c918d","type":"change","z":"c5e85a5f.147a68","name":"-10","rules":[{"t":"set","p":"payload","pt":"msg","to":"-10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":820,"wires":[[]]},{"id":"ca450ca2.ffe96","type":"change","z":"c5e85a5f.147a68","name":"-n","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.((payload-10)*-1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":860,"wires":[["8b8a642f.5d16d8"]]},{"id":"d10cc1de.7101c","type":"change","z":"c5e85a5f.147a68","name":"+n","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(payload-20)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":900,"wires":[["8b8a642f.5d16d8"]]},{"id":"3036e890.e6cef8","type":"change","z":"aa0904da.d689a8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[[]]},{"id":"85ba3b33.f92e98","type":"change","z":"aa0904da.d689a8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[[]]},{"id":"6ccc0fee.9dec9","type":"change","z":"aa0904da.d689a8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":120,"wires":[[]]},{"id":"3f953001.cce33","type":"change","z":"aa0904da.d689a8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[[]]},{"id":"63dc37f7.d26098","type":"change","z":"aa0904da.d689a8","name":"0..100","rules":[{"t":"set","p":"payload","pt":"msg","to":"bri","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[[]]},{"id":"13fdc6f9.0f19a9","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"49","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["c09c630a.035fa"],["5aedd61.7298a28"]]},{"id":"c6b95bfa.fb6a98","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"11","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"29","v2t":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"81","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":920,"wires":[["ca450ca2.ffe96"],["d10cc1de.7101c"],["7738eaa3.460134"],["e03029ee.5eaf88"]]},{"id":"7738eaa3.460134","type":"change","z":"c5e85a5f.147a68","name":"vol_up_rep","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_up_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":940,"wires":[["f139fbf3.47ab48"]]},{"id":"e03029ee.5eaf88","type":"change","z":"c5e85a5f.147a68","name":"vol_down_rep","rules":[{"t":"set","p":"payload","pt":"msg","to":"vol_down_rep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":980,"wires":[["f139fbf3.47ab48"]]},{"id":"9a2a0132.1377f","type":"change","z":"c5e85a5f.147a68","name":"home","rules":[{"t":"set","p":"payload","pt":"msg","to":"home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1460,"wires":[["7bddee34.5a8ed"]]},{"id":"d1359d31.215fc","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"11","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"29","v2t":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"81","vt":"num"},{"t":"eq","v":"82","vt":"num"},{"t":"eq","v":"83","vt":"num"},{"t":"eq","v":"84","vt":"num"},{"t":"eq","v":"85","vt":"num"},{"t":"eq","v":"86","vt":"num"},{"t":"eq","v":"87","vt":"num"},{"t":"eq","v":"88","vt":"num"},{"t":"eq","v":"89","vt":"num"},{"t":"eq","v":"90","vt":"num"},{"t":"eq","v":"91","vt":"num"},{"t":"eq","v":"92","vt":"num"},{"t":"eq","v":"93","vt":"num"},{"t":"eq","v":"94","vt":"num"},{"t":"eq","v":"95","vt":"num"},{"t":"eq","v":"96","vt":"num"},{"t":"eq","v":"97","vt":"num"},{"t":"eq","v":"98","vt":"num"},{"t":"eq","v":"99","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":23,"x":270,"y":1420,"wires":[[],[],["fec1d56f.102338"],["bca0cfdc.bdb0d"],["e2cbf94e.205a08"],["559d707b.d7aed"],["d9354eaf.f91fd"],["1010ac1f.cfacb4"],["7ec40c50.af7b14"],["cd60b6f5.9768a8"],[],[],["9a2a0132.1377f"],["be86c25e.b08bb"],["91c6b8de.5846a8"],["64a7cefb.c6e4d"],["ee7a2af2.332738"],["f3820de3.26314"],["ec74ff80.5a15d"],["4ece0c87.ede674"],[],[],[]]},{"id":"b0b0c8b0.bbcaf8","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ソニーBL","inputtrigger":false,"x":80,"y":1080,"wires":[["51ac9d06.5a1984"]]},{"id":"51ac9d06.5a1984","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":260,"y":1100,"wires":[["a17255b8.971b08"],["a17255b8.971b08"],[],[],["d1359d31.215fc"]]},{"id":"be86c25e.b08bb","type":"change","z":"c5e85a5f.147a68","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1500,"wires":[["7bddee34.5a8ed"]]},{"id":"91c6b8de.5846a8","type":"change","z":"c5e85a5f.147a68","name":"back","rules":[{"t":"set","p":"payload","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1540,"wires":[["7bddee34.5a8ed"]]},{"id":"ee7a2af2.332738","type":"change","z":"c5e85a5f.147a68","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1620,"wires":[["7bddee34.5a8ed"]]},{"id":"ec74ff80.5a15d","type":"change","z":"c5e85a5f.147a68","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1700,"wires":[["7bddee34.5a8ed"]]},{"id":"f3820de3.26314","type":"change","z":"c5e85a5f.147a68","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1660,"wires":[["7bddee34.5a8ed"]]},{"id":"64a7cefb.c6e4d","type":"change","z":"c5e85a5f.147a68","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1580,"wires":[["7bddee34.5a8ed"]]},{"id":"4ece0c87.ede674","type":"change","z":"c5e85a5f.147a68","name":"option","rules":[{"t":"set","p":"payload","pt":"msg","to":"option","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1740,"wires":[["7bddee34.5a8ed"]]},{"id":"a17255b8.971b08","type":"change","z":"c5e85a5f.147a68","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1080,"wires":[["7bddee34.5a8ed"]]},{"id":"2ef97b38.5e9264","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ダイソン ヒーター","inputtrigger":false,"x":110,"y":2740,"wires":[["90a23278.9987e","7be69c16.013744","c6c1f53a.982e68"]]},{"id":"90a23278.9987e","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":140,"y":2840,"wires":[["a153e168.15873"],["a0ff3798.10dfc8"],["536cb4b4.e6993c"],["1e68ec57.5bac74"],["1c8a7bbb.368104"]]},{"id":"536cb4b4.e6993c","type":"change","z":"c5e85a5f.147a68","name":"temp_up0","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_up0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2860,"wires":[["700392e7.3dfe1c"]]},{"id":"a153e168.15873","type":"change","z":"c5e85a5f.147a68","name":"power0","rules":[{"t":"set","p":"payload","pt":"msg","to":"power0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2780,"wires":[["700392e7.3dfe1c"]]},{"id":"a0ff3798.10dfc8","type":"change","z":"c5e85a5f.147a68","name":"power1","rules":[{"t":"set","p":"payload","pt":"msg","to":"power1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2820,"wires":[["700392e7.3dfe1c"]]},{"id":"1e68ec57.5bac74","type":"change","z":"c5e85a5f.147a68","name":"temp_down0","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_down0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2900,"wires":[["700392e7.3dfe1c"]]},{"id":"700392e7.3dfe1c","type":"link out","z":"c5e85a5f.147a68","name":"dyson","links":["8c0df6da.858278"],"x":615,"y":2780,"wires":[]},{"id":"7be69c16.013744","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":320,"y":2740,"wires":[]},{"id":"6f9f83e7.bc21dc","type":"link out","z":"c5e85a5f.147a68","name":"","links":["785414d9.b89cdc"],"x":695,"y":40,"wires":[]},{"id":"bdda5c1c.f75b1","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"hdmi","output":"1","x":470,"y":1420,"wires":[],"inputLabels":["コマンド名"]},{"id":"785414d9.b89cdc","type":"link in","z":"401531fb.83535","name":"hdmi","links":["6f9f83e7.bc21dc","bba20cd9.cc5db"],"x":155,"y":1420,"wires":[["bdda5c1c.f75b1","7879193c.c25028"]]},{"id":"e23d7db7.c8114","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"lg_tv","output":"1","x":770,"y":1700,"wires":[],"inputLabels":["コマンド名"]},{"id":"186001d3.33c54e","type":"link in","z":"401531fb.83535","name":"lg_tv","links":["7d056d0.7a3c694","f139fbf3.47ab48"],"x":155,"y":1700,"wires":[["e23d7db7.c8114","306103e3.e11fac"]]},{"id":"87fe7e5.3d4d68","type":"link in","z":"401531fb.83535","name":"lg2","links":["49fd8869.f50a68","2d09dd6b.5d4172"],"x":155,"y":2060,"wires":[["824961e.4b106a"]]},{"id":"824961e.4b106a","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"lg2","output":"1","x":470,"y":2060,"wires":[],"inputLabels":["コマンド名"]},{"id":"b7eda162.bfcab","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"sony_bl2","output":"1","x":740,"y":1340,"wires":[],"inputLabels":["コマンド名"]},{"id":"6ab3b7ab.8b0a78","type":"link in","z":"401531fb.83535","name":"sony_bl2","links":["2838d5e1.7085ea"],"x":155,"y":1340,"wires":[["b7eda162.bfcab","e3aee125.3b451"]]},{"id":"bba20cd9.cc5db","type":"link out","z":"ced38e95.976a3","name":"hdmi","links":["785414d9.b89cdc"],"x":695,"y":1260,"wires":[]},{"id":"a44727f4.270bf8","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"nightlight","output":"1","x":480,"y":1600,"wires":[]},{"id":"9fa2fb70.8307e8","type":"link in","z":"401531fb.83535","name":"nightlight","links":["c40c866c.2fffb8"],"x":155,"y":1600,"wires":[["a44727f4.270bf8","d544308a.f9e8e"]]},{"id":"7d056d0.7a3c694","type":"link out","z":"ced38e95.976a3","name":"","links":["186001d3.33c54e"],"x":795,"y":1020,"wires":[]},{"id":"c40c866c.2fffb8","type":"link out","z":"ced38e95.976a3","name":"nightlight","links":["9fa2fb70.8307e8"],"x":735,"y":1660,"wires":[]},{"id":"f139fbf3.47ab48","type":"link out","z":"c5e85a5f.147a68","name":"lg_tv","links":["186001d3.33c54e"],"x":695,"y":960,"wires":[]},{"id":"49fd8869.f50a68","type":"link out","z":"c5e85a5f.147a68","name":"lg2","links":["87fe7e5.3d4d68"],"x":695,"y":780,"wires":[]},{"id":"d73bbe46.3c82","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"dyson","output":"1","x":470,"y":40,"wires":[]},{"id":"8c0df6da.858278","type":"link in","z":"401531fb.83535","name":"dyson","links":["700392e7.3dfe1c","3e43501c.35ab9"],"x":175,"y":40,"wires":[["d73bbe46.3c82"]]},{"id":"3e43501c.35ab9","type":"link out","z":"ced38e95.976a3","name":"dyson","links":["8c0df6da.858278"],"x":815,"y":80,"wires":[]},{"id":"4a180beb.4bfba4","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"lamp","output":"1","x":470,"y":1500,"wires":[]},{"id":"e782cc51.e7532","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"fujitsu-aircon1","output":"1","x":720,"y":360,"wires":[]},{"id":"a946fde0.410ec","type":"link in","z":"401531fb.83535","name":"aircon","links":["3080a5.00c9af5c"],"x":155,"y":360,"wires":[["e782cc51.e7532","35d17d40.de33d2"]]},{"id":"7bce820.8e96a8","type":"link in","z":"401531fb.83535","name":"lamp","links":["5d5f1c44.a5d224"],"x":155,"y":1500,"wires":[["4a180beb.4bfba4","a7cdbc32.75f54"]]},{"id":"5d5f1c44.a5d224","type":"link out","z":"ced38e95.976a3","name":"lamp","links":["7bce820.8e96a8"],"x":695,"y":300,"wires":[]},{"id":"3080a5.00c9af5c","type":"link out","z":"ced38e95.976a3","name":"aircon","links":["a946fde0.410ec"],"x":792,"y":870,"wires":[]},{"id":"d5a03e35.2a6b7","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":200,"wires":[]},{"id":"99772f03.3dfb5","type":"link in","z":"52e5256c.6ed94c","name":"Alexa応答：温度","links":["d36c95e.3b91668"],"x":155,"y":180,"wires":[["4ed71063.3231d","8f935a15.0141e8"]]},{"id":"d36c95e.3b91668","type":"link out","z":"ced38e95.976a3","name":"Alexa応答：温度","links":["99772f03.3dfb5"],"x":575,"y":240,"wires":[]},{"id":"1c8a7bbb.368104","type":"link out","z":"c5e85a5f.147a68","name":"dyson 温度指定","links":["19a26e16.5b8132"],"x":435,"y":2940,"wires":[]},{"id":"c6993437.091328","type":"exec","z":"401531fb.83535","command":"/etc/lirc/lircd.conf.d/dyson_temp0.sh","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":660,"y":260,"wires":[[],[],[]]},{"id":"19a26e16.5b8132","type":"link in","z":"401531fb.83535","name":"dyson温度指定","links":["1c8a7bbb.368104","b8ec92e6.a07fb"],"x":155,"y":260,"wires":[["c6993437.091328","f4abe529.2f1008"]]},{"id":"b8ec92e6.a07fb","type":"link out","z":"ced38e95.976a3","name":"dyson温度設定","links":["19a26e16.5b8132"],"x":635,"y":220,"wires":[]},{"id":"4ed71063.3231d","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":280,"y":180,"wires":[]},{"id":"d35eb11a.af49e","type":"change","z":"52e5256c.6ed94c","name":"応答の作成:温度","rules":[{"t":"set","p":"extra.targetTemperature.value","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":260,"wires":[["8670704b.c0712","83c1b99e.0906a8","f2dcaade.c0d208"]]},{"id":"8670704b.c0712","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1140,"y":360,"wires":[]},{"id":"83c1b99e.0906a8","type":"alexa-home-resp","z":"52e5256c.6ed94c","x":1160,"y":240,"wires":[]},{"id":"ed9824be.f71fb8","type":"lirc-out","z":"401531fb.83535","name":"","controller":"ea87affe.5cedd","device":"sony_bl","output":"1","x":740,"y":680,"wires":[],"inputLabels":["コマンド名"]},{"id":"3d572f6e.07de3","type":"link in","z":"401531fb.83535","name":"sony_bl","links":["2838d5e1.7085ea","4c113f3e.5b7f3","7bddee34.5a8ed","e2068e6a.e1994","23bae425.c44a7c","6f362d95.baebd4","74065cb7.469094"],"x":155,"y":680,"wires":[["ed9824be.f71fb8"]]},{"id":"fa10d29e.76ddd","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ソニー BL チャンネル","inputtrigger":false,"x":120,"y":1800,"wires":[["742bad0c.ce1144"]]},{"id":"742bad0c.ce1144","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":140,"y":1880,"wires":[["9f08383f.8ac7e8","ccaee864.cd6c68"],["9f08383f.8ac7e8","ccaee864.cd6c68"],["459a56ca.8fa488","9f08383f.8ac7e8"],["f6467816.976718","9f08383f.8ac7e8"],["9f08383f.8ac7e8","2c77245f.3a656c"]]},{"id":"60e29ef5.00beb","type":"change","z":"c5e85a5f.147a68","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2280,"wires":[["4c113f3e.5b7f3","72d39496.5727ec"]]},{"id":"4c113f3e.5b7f3","type":"link out","z":"c5e85a5f.147a68","name":"sony_bl","links":["3d572f6e.07de3"],"x":655,"y":2280,"wires":[]},{"id":"9f08383f.8ac7e8","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":1800,"wires":[]},{"id":"2c77245f.3a656c","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"80","vt":"num","v2":"100","v2t":"num"},{"t":"btwn","v":"40","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"29","v2t":"num"},{"t":"btwn","v":"31","vt":"num","v2":"39","v2t":"num"},{"t":"btwn","v":"1","vt":"num","v2":"12","v2t":"num"}],"checkall":"true","repair":false,"outputs":5,"x":110,"y":2080,"wires":[["459a56ca.8fa488"],["f6467816.976718"],["42c9883b.171548"],["56ef6bbb.e90f14"],["60e29ef5.00beb"]]},{"id":"459a56ca.8fa488","type":"change","z":"c5e85a5f.147a68","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1960,"wires":[["23bae425.c44a7c"]]},{"id":"f6467816.976718","type":"change","z":"c5e85a5f.147a68","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2000,"wires":[["23bae425.c44a7c"]]},{"id":"23bae425.c44a7c","type":"link out","z":"c5e85a5f.147a68","name":"sony_bl2","links":["3d572f6e.07de3"],"x":655,"y":1980,"wires":[]},{"id":"64c5b3a7.4b5dec","type":"change","z":"c5e85a5f.147a68","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2080,"wires":[["23bae425.c44a7c","e9d4548b.a6f078","4dcd2a34.2e99a4"]]},{"id":"e9d4548b.a6f078","type":"delay","z":"c5e85a5f.147a68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":2120,"wires":[["b111283a.08c0a8"]]},{"id":"42c9883b.171548","type":"change","z":"c5e85a5f.147a68","name":"i=p-20","rules":[{"t":"set","p":"i","pt":"flow","to":"$number(msg.payload) - 20","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2080,"wires":[["813e40ac.e37e6"]]},{"id":"b111283a.08c0a8","type":"change","z":"c5e85a5f.147a68","name":"i--","rules":[{"t":"set","p":"i","pt":"flow","to":"$flowContext(\"i\") - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2120,"wires":[["813e40ac.e37e6"]]},{"id":"813e40ac.e37e6","type":"switch","z":"c5e85a5f.147a68","name":"i > 0","property":"i","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":2080,"wires":[["64c5b3a7.4b5dec"]]},{"id":"d1ff2847.b17e98","type":"change","z":"c5e85a5f.147a68","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1860,"wires":[["cf523d90.253f6","23bae425.c44a7c"]]},{"id":"cf523d90.253f6","type":"delay","z":"c5e85a5f.147a68","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1920,"wires":[["8e4b486e.f085a8"]]},{"id":"8e4b486e.f085a8","type":"switch","z":"c5e85a5f.147a68","name":"sw==on?","property":"sw","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":580,"y":1860,"wires":[["d1ff2847.b17e98"],[]]},{"id":"ccaee864.cd6c68","type":"change","z":"c5e85a5f.147a68","name":"sw=payload","rules":[{"t":"set","p":"sw","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1860,"wires":[["8e4b486e.f085a8","a89b8c1f.06d48"]]},{"id":"a89b8c1f.06d48","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":1900,"wires":[]},{"id":"6f798080.33de4","type":"change","z":"c5e85a5f.147a68","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2180,"wires":[["e4095104.c0f6d","23bae425.c44a7c","407254d8.7f6cbc"]]},{"id":"e4095104.c0f6d","type":"delay","z":"c5e85a5f.147a68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":2220,"wires":[["6dd207be.faf6b8"]]},{"id":"56ef6bbb.e90f14","type":"change","z":"c5e85a5f.147a68","name":"i=p-30","rules":[{"t":"set","p":"i","pt":"flow","to":"$number(msg.payload) - 30","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2180,"wires":[["fc4a78.817b9588"]]},{"id":"6dd207be.faf6b8","type":"change","z":"c5e85a5f.147a68","name":"i--","rules":[{"t":"set","p":"i","pt":"flow","to":"$flowContext(\"i\") - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2220,"wires":[["fc4a78.817b9588"]]},{"id":"fc4a78.817b9588","type":"switch","z":"c5e85a5f.147a68","name":"i > 0","property":"i","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":2180,"wires":[["6f798080.33de4"]]},{"id":"7bddee34.5a8ed","type":"link out","z":"c5e85a5f.147a68","name":"sony_bl","links":["3d572f6e.07de3"],"x":695,"y":1080,"wires":[]},{"id":"5237f714.dfab28","type":"mqtt in","z":"40512d3f.bb76f4","name":"","topic":"env1/temp","qos":"2","broker":"983ce956.6ac868","x":80,"y":40,"wires":[["d319cd08.96cf9"]]},{"id":"d319cd08.96cf9","type":"json","z":"40512d3f.bb76f4","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":40,"wires":[["7fae23ef.34753c"]]},{"id":"22efd68.fbe0b2a","type":"mqtt in","z":"40512d3f.bb76f4","name":"","topic":"env1/humidity","qos":"2","broker":"983ce956.6ac868","x":90,"y":100,"wires":[["d319cd08.96cf9"]]},{"id":"3ca8ee5b.18eae2","type":"switch","z":"40512d3f.bb76f4","name":"topicで振り分け","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"env1/temp","vt":"str"},{"t":"eq","v":"env1/humidity","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":200,"y":220,"wires":[["db6cdc67.08f49"],["781ae56e.74899c"]]},{"id":"d57bd769.9362a8","type":"debug","z":"40512d3f.bb76f4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":440,"y":200,"wires":[]},{"id":"e274d0e0.8b87d","type":"debug","z":"40512d3f.bb76f4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":440,"y":420,"wires":[]},{"id":"c90c0aab.8cbf88","type":"mqtt in","z":"263ed0bd.93952","name":"","topic":"env1/voice","qos":"1","broker":"3b7e7ae0.0e3136","x":100,"y":60,"wires":[["601fdf8d.6068e"]]},{"id":"e90e441f.252b58","type":"split","z":"263ed0bd.93952","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":60,"wires":[["4f718cdf.983314"]]},{"id":"4f718cdf.983314","type":"switch","z":"263ed0bd.93952","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"ts","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":60,"wires":[[],[]]},{"id":"601fdf8d.6068e","type":"json","z":"263ed0bd.93952","name":"","property":"payload","action":"","pretty":false,"x":230,"y":60,"wires":[["e90e441f.252b58"]]},{"id":"1103967d.caa16a","type":"ui_switch","z":"401531fb.83535","name":"ダイソンファン 電源","label":"Power","tooltip":"","group":"cfd31d5a.7257b","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"power0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"power1","offvalueType":"str","officon":"","offcolor":"","x":140,"y":80,"wires":[["d73bbe46.3c82"]]},{"id":"97fe0bce.2cf758","type":"ui_button","z":"401531fb.83535","name":"OFF","group":"38f3d975.e68376","order":9,"width":"4","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":90,"y":400,"wires":[["e782cc51.e7532","5e650065.72694"]]},{"id":"11a1e4a2.c9aa2b","type":"ui_button","z":"401531fb.83535","name":"ダイソンファン 温度UP","group":"cfd31d5a.7257b","order":4,"width":"1","height":"1","passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_up0","payloadType":"str","topic":"","x":150,"y":120,"wires":[["d73bbe46.3c82"]]},{"id":"d354fcdd.1319f","type":"ui_button","z":"401531fb.83535","name":"ダイソンファン 温度DOWN","group":"cfd31d5a.7257b","order":7,"width":"1","height":"1","passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp_down0","payloadType":"str","topic":"","x":160,"y":160,"wires":[["d73bbe46.3c82"]]},{"id":"4dfda8cb.2b4848","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"ソニーBL OK","inputtrigger":false,"x":90,"y":2420,"wires":[["72a5ae.4373fa54","f6721bc4.8d6548"]]},{"id":"584d67fc.f1a048","type":"change","z":"c5e85a5f.147a68","name":"ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2460,"wires":[["e2068e6a.e1994"]]},{"id":"e2068e6a.e1994","type":"link out","z":"c5e85a5f.147a68","name":"sony_bl","links":["3d572f6e.07de3"],"x":615,"y":2460,"wires":[]},{"id":"72a5ae.4373fa54","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":140,"y":2520,"wires":[["584d67fc.f1a048","af38c7bf.a763e8"],["7303951a.aa3aac"],["792eeab8.65bd34"],["4eadab9f.68d424"],["45ce8a03.3a7394"]]},{"id":"792eeab8.65bd34","type":"change","z":"c5e85a5f.147a68","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2540,"wires":[["e2068e6a.e1994"]]},{"id":"4eadab9f.68d424","type":"change","z":"c5e85a5f.147a68","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2580,"wires":[["e2068e6a.e1994"]]},{"id":"f6e6e7bf.009fb8","type":"change","z":"c5e85a5f.147a68","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2620,"wires":[["e2068e6a.e1994"]]},{"id":"9907ae35.a66f7","type":"change","z":"c5e85a5f.147a68","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2660,"wires":[["e2068e6a.e1994"]]},{"id":"7303951a.aa3aac","type":"change","z":"c5e85a5f.147a68","name":"back","rules":[{"t":"set","p":"payload","pt":"msg","to":"back","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2500,"wires":[["e2068e6a.e1994"]]},{"id":"45ce8a03.3a7394","type":"switch","z":"c5e85a5f.147a68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10","vt":"num","v2":"40","v2t":"num"},{"t":"btwn","v":"60","vt":"num","v2":"90","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":2600,"wires":[["f6e6e7bf.009fb8"],["9907ae35.a66f7"]]},{"id":"af38c7bf.a763e8","type":"change","z":"c5e85a5f.147a68","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":2200,"wires":[["ccaee864.cd6c68"]]},{"id":"568d9046.62b7c","type":"ui_switch","z":"a9677944.398948","name":"","label":"lirc-analyze","tooltip":"","group":"6a788e0b.50642","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":80,"wires":[["d85f24fc.52b6b8"]]},{"id":"557c786b.c3c5e8","type":"exec","z":"a9677944.398948","command":"lirc-analyze.py","addpay":false,"append":"-fo","useSpawn":"true","timer":"","oldrc":false,"name":"","x":420,"y":60,"wires":[["34ce082.9c316f8"],["34ce082.9c316f8"],[]]},{"id":"d85f24fc.52b6b8","type":"switch","z":"a9677944.398948","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":80,"wires":[["557c786b.c3c5e8"],["844f946b.b393a8"]]},{"id":"34ce082.9c316f8","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":620,"y":60,"wires":[]},{"id":"e6b59af3.ba0ff8","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":620,"y":120,"wires":[]},{"id":"ae42061d.38a168","type":"exec","z":"a9677944.398948","command":"killall","addpay":false,"append":"lirc-analyze.py mode2","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":240,"wires":[[],[],["ad4638fb.b009e8"]]},{"id":"4113c979.c69528","type":"exec","z":"a9677944.398948","command":"sudo service lircd stop","addpay":false,"append":"lirc-analyze.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":400,"wires":[[],[],["2402f00c.7987b"]]},{"id":"b5d6ce7.a5b2d3","type":"exec","z":"a9677944.398948","command":"sudo service lircd start","addpay":false,"append":"lirc-analyze.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":520,"wires":[[],[],["ebced31d.13b03"]]},{"id":"ebced31d.13b03","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":520,"wires":[]},{"id":"844f946b.b393a8","type":"exec","z":"a9677944.398948","command":"killall","addpay":false,"append":"-INT lirc-analyze.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":120,"wires":[[],[],["e6b59af3.ba0ff8","524c68bf.fe8a38"]]},{"id":"b43534da.850918","type":"ui_dropdown","z":"a9677944.398948","name":"","label":"電源","tooltip":"","place":"オプション","group":"15fac97f.fd39e7","order":1,"width":"5","height":"1","passthru":true,"options":[{"label":"再起動","value":"reboot","type":"str"},{"label":"シャットダウン","value":"poweroff","type":"str"}],"payload":"","topic":"","x":90,"y":600,"wires":[["bf474c51.6eb1f","4e2c762f.918d28"]]},{"id":"bf474c51.6eb1f","type":"exec","z":"a9677944.398948","command":"sudo","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":600,"wires":[[],[],[]]},{"id":"4e2c762f.918d28","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":640,"wires":[]},{"id":"6aacf7d4.679578","type":"mqtt in","z":"5912065e.3e9be8","name":"","topic":"env1/temp","qos":"2","broker":"a3836c1d.4a1d3","x":120,"y":160,"wires":[["5f437bcf.830544","5e1d682e.f0abb8","bcee371a.096ec8"]]},{"id":"b123735d.a9554","type":"mqtt out","z":"5912065e.3e9be8","name":"","topic":"env1/temp","qos":"2","retain":"","broker":"3b7e7ae0.0e3136","x":410,"y":80,"wires":[]},{"id":"5f437bcf.830544","type":"debug","z":"5912065e.3e9be8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":220,"wires":[]},{"id":"1d38e5e7.93fbba","type":"inject","z":"5912065e.3e9be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["b123735d.a9554","4ad4b3db.d3f3dc"]]},{"id":"4ad4b3db.d3f3dc","type":"debug","z":"5912065e.3e9be8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":360,"y":140,"wires":[]},{"id":"a78784bb.f3ba48","type":"mqtt in","z":"5912065e.3e9be8","name":"","topic":"env1/humidity","qos":"2","broker":"3b7e7ae0.0e3136","x":130,"y":280,"wires":[["74c5f21a.be7c5c","365a6398.44aefc","94ed8e10.f56e7"]]},{"id":"74c5f21a.be7c5c","type":"debug","z":"5912065e.3e9be8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":340,"wires":[]},{"id":"a40242b1.c48b8","type":"http request","z":"5912065e.3e9be8","name":"IFTTTトリガー","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/env1/with/key/bHTyVKw8J52oaZ-bMV18hP","tls":"","x":540,"y":380,"wires":[["be448664.cd1c18"]]},{"id":"be448664.cd1c18","type":"debug","z":"5912065e.3e9be8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":380,"wires":[]},{"id":"eac0d9e1.215f98","type":"debug","z":"5912065e.3e9be8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":720,"y":280,"wires":[]},{"id":"a3faf1ef.590d3","type":"join","z":"5912065e.3e9be8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":280,"wires":[["a40242b1.c48b8","eac0d9e1.215f98"]]},{"id":"5e1d682e.f0abb8","type":"change","z":"5912065e.3e9be8","name":"{\"value1: 温度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["a3faf1ef.590d3","e0aa3697.7a3de8"]]},{"id":"365a6398.44aefc","type":"change","z":"5912065e.3e9be8","name":"{\"value2\": 湿度}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":359,"y":264,"wires":[["a3faf1ef.590d3"]]},{"id":"6ec1360d.9d51f8","type":"change","z":"5912065e.3e9be8","name":"{\"value3\": 気圧}","rules":[{"t":"set","p":"parts.key","pt":"msg","to":"value3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":305,"wires":[["a3faf1ef.590d3"]]},{"id":"e0aa3697.7a3de8","type":"link out","z":"5912065e.3e9be8","name":"温度","links":["81e324e7.361f88"],"x":675,"y":180,"wires":[]},{"id":"f03e492f.f897d8","type":"mqtt in","z":"5912065e.3e9be8","name":"","topic":"env1/pressure","qos":"2","broker":"3b7e7ae0.0e3136","x":130,"y":400,"wires":[["63a23546.22ffdc","6ec1360d.9d51f8","aa4a5704.e9a9f8"]]},{"id":"63a23546.22ffdc","type":"debug","z":"5912065e.3e9be8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":460,"wires":[]},{"id":"bcee371a.096ec8","type":"link out","z":"5912065e.3e9be8","name":"home_env/tempの値","links":[],"x":455,"y":500,"wires":[]},{"id":"94ed8e10.f56e7","type":"link out","z":"5912065e.3e9be8","name":"home_env/humidityの値","links":[],"x":455,"y":580,"wires":[]},{"id":"aa4a5704.e9a9f8","type":"link out","z":"5912065e.3e9be8","name":"home_env/pressureの値","links":[],"x":455,"y":660,"wires":[]},{"id":"21df5c0f.6b0464","type":"inject","z":"5912065e.3e9be8","name":"","topic":"","payload":"24","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":460,"wires":[[]]},{"id":"339327ec.2e8f38","type":"inject","z":"5912065e.3e9be8","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":540,"wires":[[]]},{"id":"8680452a.11ef78","type":"inject","z":"5912065e.3e9be8","name":"","topic":"","payload":"1000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":620,"wires":[[]]},{"id":"53ed540c.c5407c","type":"ui_gauge","z":"40512d3f.bb76f4","name":"温度［℃］","group":"3e2ab8fa.bf9368","order":1,"width":"3","height":"4","gtype":"gage","title":"温度［℃］","label":"℃","format":"{{value}}","min":"10","max":"35","colors":["#ff8080","#ff4040","#ca0000"],"seg1":"20","seg2":"27","x":690,"y":120,"wires":[]},{"id":"28ef039.eefe3fc","type":"ui_gauge","z":"40512d3f.bb76f4","name":"湿度［％］","group":"2e3dec1c.ac0f04","order":1,"width":"3","height":"4","gtype":"wave","title":"湿度［％］","label":"％","format":"{{value}}","min":"30","max":"90","colors":["#80c8ff","#2080ff","#0000ff"],"seg1":"40","seg2":"50","x":690,"y":340,"wires":[]},{"id":"2402f00c.7987b","type":"delay","z":"a9677944.398948","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":460,"wires":[["b5d6ce7.a5b2d3"]]},{"id":"f4abe529.2f1008","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":200,"wires":[]},{"id":"f2dcaade.c0d208","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"extra","x":1130,"y":300,"wires":[]},{"id":"1999d4d7.4483fb","type":"link in","z":"52e5256c.6ed94c","name":"Alexa応答：「はい」","links":["da7babf3.521be8"],"x":155,"y":120,"wires":[["400faf69.e882b","5b425deb.8fca14"]]},{"id":"5b425deb.8fca14","type":"change","z":"52e5256c.6ed94c","name":"応答作成：「はい」","rules":[{"t":"set","p":"extra.info","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[["83c1b99e.0906a8","60d13e39.41581","3439f2f5.f7f2ee"]]},{"id":"ad4638fb.b009e8","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":620,"y":240,"wires":[]},{"id":"524c68bf.fe8a38","type":"delay","z":"a9677944.398948","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":180,"wires":[["ae42061d.38a168"]]},{"id":"ca102ade.95b868","type":"ui_slider","z":"401531fb.83535","name":"温度スライダー","label":"","tooltip":"℃","group":"38f3d975.e68376","order":4,"width":"4","height":"1","passthru":false,"outs":"end","topic":"","min":"22","max":"25","step":1,"x":460,"y":520,"wires":[["de585941.ad25a8","defa5eac.f6089"]]},{"id":"de585941.ad25a8","type":"change","z":"401531fb.83535","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.(\"on_hot_\" & payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["5e650065.72694","e782cc51.e7532"]]},{"id":"5e650065.72694","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":420,"wires":[]},{"id":"defa5eac.f6089","type":"ui_numeric","z":"401531fb.83535","name":"温度上下","label":"温度","tooltip":"","group":"38f3d975.e68376","order":1,"width":"3","height":"1","passthru":false,"topic":"","format":"{{value}}℃","min":"22","max":"25","step":1,"x":440,"y":600,"wires":[["de585941.ad25a8","ca102ade.95b868"]]},{"id":"d3c22cf7.682dc","type":"ui_button","z":"401531fb.83535","name":"","group":"38f3d975.e68376","order":7,"width":"1","height":"1","passthru":false,"label":"24℃","tooltip":"","color":"","bgcolor":"","icon":"","payload":"24","payloadType":"str","topic":"","x":90,"y":480,"wires":[["de585941.ad25a8","4b5b2483.fdd93c"]]},{"id":"cae3b997.fe6288","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":9,"width":"1","height":"1","passthru":false,"label":"↑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":510,"y":780,"wires":[["b141bbfb.a2da78"]]},{"id":"976ed6f0.9d3068","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":15,"width":"1","height":"1","passthru":false,"label":"←","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":510,"y":900,"wires":[["b141bbfb.a2da78"]]},{"id":"ea9568b0.eecb68","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":17,"width":"1","height":"1","passthru":false,"label":"→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":510,"y":860,"wires":[["b141bbfb.a2da78"]]},{"id":"a2a9f3bf.023c8","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":23,"width":"1","height":"1","passthru":false,"label":"↓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":510,"y":820,"wires":[["b141bbfb.a2da78"]]},{"id":"a0b23d49.d7ffd","type":"ui_button","z":"401531fb.83535","name":"OK","group":"e793228a.0f32e","order":16,"width":"1","height":"1","passthru":false,"label":"●","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OK","payloadType":"str","topic":"","x":510,"y":740,"wires":[["b141bbfb.a2da78"]]},{"id":"8c1d68b3.a1f458","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":1,"width":"2","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"home","payloadType":"str","topic":"","x":90,"y":780,"wires":[["86d4f19a.5753a"]]},{"id":"7662d64.4bef828","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":21,"width":"1","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":90,"y":820,"wires":[["86d4f19a.5753a"]]},{"id":"5edc5570.6e792c","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":6,"width":"1","height":"1","passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":90,"y":740,"wires":[["86d4f19a.5753a"]]},{"id":"13ce05cf.669a7a","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":4,"width":"1","height":"1","passthru":false,"label":"Ch←","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_prev","payloadType":"str","topic":"","x":90,"y":900,"wires":[["86d4f19a.5753a"]]},{"id":"773e0f9e.47521","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":5,"width":"1","height":"1","passthru":false,"label":"Ch→","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_next","payloadType":"str","topic":"","x":90,"y":940,"wires":[["86d4f19a.5753a"]]},{"id":"c35879.57273788","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":7,"width":"1","height":"1","passthru":false,"label":"Opt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"option","payloadType":"str","topic":"","x":90,"y":860,"wires":[["86d4f19a.5753a"]]},{"id":"e3aee125.3b451","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":260,"y":1300,"wires":[]},{"id":"e67afefd.0ac33","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":13,"width":"1","height":"1","passthru":false,"label":"Eject","tooltip":"","color":"","bgcolor":"","icon":"","payload":"eject","payloadType":"str","topic":"","x":90,"y":980,"wires":[["86d4f19a.5753a"]]},{"id":"2c01136c.2f981c","type":"alexa-local","z":"c5e85a5f.147a68","devicename":"LG_TV","inputtrigger":false,"x":80,"y":380,"wires":[["b0ffcd96.0b125"]]},{"id":"2d09dd6b.5d4172","type":"link out","z":"c5e85a5f.147a68","name":"lg2","links":["87fe7e5.3d4d68"],"x":675,"y":400,"wires":[]},{"id":"b0ffcd96.0b125","type":"subflow:aa0904da.d689a8","z":"c5e85a5f.147a68","name":"","x":280,"y":400,"wires":[["c2f44eb2.0e6de"],["c2f44eb2.0e6de"],["1a7a91a8.18896e"],["f6f65b27.682ca8"],[]]},{"id":"c2f44eb2.0e6de","type":"change","z":"c5e85a5f.147a68","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["2d09dd6b.5d4172"]]},{"id":"1a7a91a8.18896e","type":"change","z":"c5e85a5f.147a68","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":420,"wires":[["2d09dd6b.5d4172"]]},{"id":"f6f65b27.682ca8","type":"change","z":"c5e85a5f.147a68","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":460,"wires":[["2d09dd6b.5d4172"]]},{"id":"fec1d56f.102338","type":"change","z":"c5e85a5f.147a68","name":"play","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1140,"wires":[["7bddee34.5a8ed"]]},{"id":"bca0cfdc.bdb0d","type":"change","z":"c5e85a5f.147a68","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1180,"wires":[["7bddee34.5a8ed"]]},{"id":"e2cbf94e.205a08","type":"change","z":"c5e85a5f.147a68","name":"pause","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1220,"wires":[["7bddee34.5a8ed"]]},{"id":"559d707b.d7aed","type":"change","z":"c5e85a5f.147a68","name":"next","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1260,"wires":[["7bddee34.5a8ed"]]},{"id":"d9354eaf.f91fd","type":"change","z":"c5e85a5f.147a68","name":"prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1300,"wires":[["7bddee34.5a8ed"]]},{"id":"1010ac1f.cfacb4","type":"change","z":"c5e85a5f.147a68","name":"rec","rules":[{"t":"set","p":"payload","pt":"msg","to":"rec","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1340,"wires":[["7bddee34.5a8ed"]]},{"id":"7ec40c50.af7b14","type":"change","z":"c5e85a5f.147a68","name":"fast","rules":[{"t":"set","p":"payload","pt":"msg","to":"fast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1380,"wires":[["7bddee34.5a8ed"]]},{"id":"cd60b6f5.9768a8","type":"change","z":"c5e85a5f.147a68","name":"rewind","rules":[{"t":"set","p":"payload","pt":"msg","to":"rewind","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1420,"wires":[["7bddee34.5a8ed"]]},{"id":"f4e510d0.978e5","type":"ui_button","z":"401531fb.83535","name":"","group":"38f3d975.e68376","order":6,"width":"1","height":"1","passthru":false,"label":"23℃","tooltip":"","color":"","bgcolor":"","icon":"","payload":"23","payloadType":"str","topic":"","x":90,"y":520,"wires":[["de585941.ad25a8","4b5b2483.fdd93c"]]},{"id":"72d39496.5727ec","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":280,"y":2320,"wires":[]},{"id":"4dcd2a34.2e99a4","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":2080,"wires":[]},{"id":"407254d8.7f6cbc","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":2180,"wires":[]},{"id":"f6721bc4.8d6548","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":300,"y":2420,"wires":[]},{"id":"283e8330.21fefc","type":"ui_chart","z":"40512d3f.bb76f4","name":"温度グラフ:大","group":"3bf00340.eb323c","order":1,"width":"8","height":"3","label":"","chartType":"line","legend":"false","xformat":"MM/DD HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"35","removeOlder":"48","removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":200,"wires":[[],[]]},{"id":"693f4d03.862d94","type":"ui_dropdown","z":"a9677944.398948","name":"","label":"lircd","tooltip":"","place":"オプション","group":"21133d7c.d71f22","order":1,"width":"5","height":"1","passthru":true,"options":[{"label":"再起動","value":"restart","type":"str"},{"label":"停止","value":"stop","type":"str"}],"payload":"","topic":"","x":90,"y":360,"wires":[["f06473f3.d2665","cf9ae8ae.21a2f8"]]},{"id":"bbc89984.6ca638","type":"exec","z":"a9677944.398948","command":"sudo service lircd stop","addpay":false,"append":"lirc-analyze.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":340,"wires":[[],[],["fc851166.5c88c"]]},{"id":"f06473f3.d2665","type":"switch","z":"a9677944.398948","name":"stop/restart","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"restart","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":360,"wires":[["bbc89984.6ca638"],["4113c979.c69528"]]},{"id":"fc851166.5c88c","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":340,"wires":[]},{"id":"cf9ae8ae.21a2f8","type":"debug","z":"a9677944.398948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":120,"y":420,"wires":[]},{"id":"48a4bbde.575ab4","type":"ui_button","z":"401531fb.83535","name":"","group":"38f3d975.e68376","order":5,"width":"1","height":"1","passthru":false,"label":"22℃","tooltip":"","color":"","bgcolor":"","icon":"","payload":"22","payloadType":"str","topic":"","x":90,"y":560,"wires":[["de585941.ad25a8","4b5b2483.fdd93c"]]},{"id":"8d7034d6.f3ac88","type":"ui_button","z":"401531fb.83535","name":"","group":"38f3d975.e68376","order":8,"width":"1","height":"1","passthru":false,"label":"25℃","tooltip":"","color":"","bgcolor":"","icon":"","payload":"25","payloadType":"str","topic":"","x":90,"y":440,"wires":[["de585941.ad25a8","4b5b2483.fdd93c"]]},{"id":"35d17d40.de33d2","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":300,"y":320,"wires":[]},{"id":"c6c1f53a.982e68","type":"debug","z":"c5e85a5f.147a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":2700,"wires":[]},{"id":"4b5b2483.fdd93c","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":250,"y":560,"wires":[["ca102ade.95b868","defa5eac.f6089"]]},{"id":"db6cdc67.08f49","type":"batch","z":"40512d3f.bb76f4","name":"温度","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":410,"y":160,"wires":[["53ed540c.c5407c","d57bd769.9362a8","64966126.68c64","283e8330.21fefc","34a9caba.4ebd86","b5622d03.65d95"]]},{"id":"781ae56e.74899c","type":"batch","z":"40512d3f.bb76f4","name":"湿度","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":410,"y":380,"wires":[["28ef039.eefe3fc","e274d0e0.8b87d","f6ca368.20774c8","d414d3f5.208b3","45e49915.866988","f2c20b8f.44b2d8"]]},{"id":"7fae23ef.34753c","type":"change","z":"40512d3f.bb76f4","name":"'data'抽出","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":80,"wires":[["3ca8ee5b.18eae2"]]},{"id":"86d4f19a.5753a","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":230,"y":700,"wires":[["936a65a3.d57238"]]},{"id":"c4f44886.607be8","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":11,"width":"1","height":"1","passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_1","payloadType":"str","topic":"","x":230,"y":740,"wires":[["936a65a3.d57238"]]},{"id":"b89d9f66.18632","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":12,"width":"1","height":"1","passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_2","payloadType":"str","topic":"","x":230,"y":780,"wires":[["936a65a3.d57238"]]},{"id":"abcfee6.b0c5b1","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":13,"width":"1","height":"1","passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_3","payloadType":"str","topic":"","x":230,"y":820,"wires":[["936a65a3.d57238"]]},{"id":"c15e82e7.3e166","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":18,"width":"1","height":"1","passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_4","payloadType":"str","topic":"","x":230,"y":860,"wires":[["936a65a3.d57238"]]},{"id":"d1a9c234.c60e2","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":19,"width":"1","height":"1","passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_5","payloadType":"str","topic":"","x":230,"y":900,"wires":[["936a65a3.d57238"]]},{"id":"8a5b631.9d579a","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":20,"width":"1","height":"1","passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_6","payloadType":"str","topic":"","x":230,"y":940,"wires":[["936a65a3.d57238"]]},{"id":"5524ab18.fc4284","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":25,"width":"1","height":"1","passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_7","payloadType":"str","topic":"","x":230,"y":980,"wires":[["936a65a3.d57238"]]},{"id":"2198f29d.22179e","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":26,"width":"1","height":"1","passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_8","payloadType":"str","topic":"","x":230,"y":1020,"wires":[["936a65a3.d57238"]]},{"id":"c2161347.41b27","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":27,"width":"1","height":"1","passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_9","payloadType":"str","topic":"","x":230,"y":1060,"wires":[["936a65a3.d57238"]]},{"id":"577e256a.89ec5c","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":32,"width":"1","height":"1","passthru":false,"label":"10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_10","payloadType":"str","topic":"","x":230,"y":1100,"wires":[["936a65a3.d57238"]]},{"id":"364ed867.a315e8","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":33,"width":"1","height":"1","passthru":false,"label":"11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_11","payloadType":"str","topic":"","x":230,"y":1140,"wires":[["936a65a3.d57238"]]},{"id":"9e185bd6.d43c38","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":34,"width":"1","height":"1","passthru":false,"label":"12","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ch_12","payloadType":"str","topic":"","x":230,"y":1180,"wires":[["936a65a3.d57238"]]},{"id":"936a65a3.d57238","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":370,"y":700,"wires":[["591be711.658e28"]]},{"id":"186e96c3.5aa149","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":7,"width":"2","height":"1","passthru":false,"label":"▷","tooltip":"","color":"","bgcolor":"","icon":"","payload":"play","payloadType":"str","topic":"","x":370,"y":740,"wires":[["591be711.658e28"]]},{"id":"71af9503.7d562c","type":"ui_button","z":"401531fb.83535","name":"rec","group":"375352a1.06bbbe","order":15,"width":"1","height":"1","passthru":false,"label":"●","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"rec","payloadType":"str","topic":"","x":370,"y":820,"wires":[["591be711.658e28"]]},{"id":"591be711.658e28","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":510,"y":700,"wires":[["b141bbfb.a2da78"]]},{"id":"ef63b05.0d9345","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":14,"width":"2","height":"1","passthru":false,"label":"■","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":370,"y":780,"wires":[["591be711.658e28"]]},{"id":"aefcb388.104ca","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":8,"width":"1","height":"1","passthru":false,"label":"▷▷","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fast","payloadType":"str","topic":"","x":370,"y":860,"wires":[["591be711.658e28"]]},{"id":"59401281.f35b5c","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":6,"width":"1","height":"1","passthru":false,"label":"◁◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"rewind","payloadType":"str","topic":"","x":370,"y":900,"wires":[["591be711.658e28"]]},{"id":"91e3f56d.817048","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":4,"width":"1","height":"1","passthru":false,"label":"▷｜","tooltip":"","color":"","bgcolor":"","icon":"","payload":"next","payloadType":"str","topic":"","x":370,"y":940,"wires":[["591be711.658e28"]]},{"id":"cf906b56.7b25d8","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":1,"width":"1","height":"1","passthru":false,"label":"｜◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"prev","payloadType":"str","topic":"","x":370,"y":980,"wires":[["591be711.658e28"]]},{"id":"dc838d8f.6aa6c","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":3,"width":"1","height":"1","passthru":false,"label":"▷15s","tooltip":"","color":"","bgcolor":"","icon":"","payload":"skip1","payloadType":"str","topic":"","x":370,"y":1020,"wires":[["591be711.658e28"]]},{"id":"25d5a070.879c5","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":2,"width":"1","height":"1","passthru":false,"label":"10s◁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"skip_back1","payloadType":"str","topic":"","x":370,"y":1060,"wires":[["591be711.658e28"]]},{"id":"cc03ea79.7f48b8","type":"ui_button","z":"401531fb.83535","name":"","group":"375352a1.06bbbe","order":11,"width":"2","height":"1","passthru":false,"label":"||","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pause","payloadType":"str","topic":"","x":370,"y":1100,"wires":[[]]},{"id":"b141bbfb.a2da78","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":650,"y":640,"wires":[["ed9824be.f71fb8"]]},{"id":"2616db8d.6b5c24","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":28,"width":"1","height":"1","passthru":false,"label":"青","tooltip":"","color":"white","bgcolor":"blue","icon":"","payload":"blue","payloadType":"str","topic":"","x":90,"y":1020,"wires":[["86d4f19a.5753a"]]},{"id":"cc7fb1be.3988e","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":29,"width":"1","height":"1","passthru":false,"label":"赤","tooltip":"","color":"","bgcolor":"#ee0000","icon":"","payload":"red","payloadType":"str","topic":"","x":90,"y":1060,"wires":[["86d4f19a.5753a"]]},{"id":"fd64e70d.63c518","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":30,"width":"1","height":"1","passthru":false,"label":"緑","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"green","payloadType":"str","topic":"","x":90,"y":1100,"wires":[["86d4f19a.5753a"]]},{"id":"eb0b89f6.a8ff88","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":31,"width":"1","height":"1","passthru":false,"label":"黄","tooltip":"","color":"#222222","bgcolor":"#dddd00","icon":"","payload":"yellow","payloadType":"str","topic":"","x":90,"y":1140,"wires":[["86d4f19a.5753a"]]},{"id":"7ec4a2cc.17f40c","type":"ui_button","z":"401531fb.83535","name":"","group":"e793228a.0f32e","order":3,"width":"1","height":"1","passthru":false,"label":"番組表","tooltip":"","color":"","bgcolor":"","icon":"","payload":"proglist","payloadType":"str","topic":"","x":90,"y":1180,"wires":[["86d4f19a.5753a"]]},{"id":"65a015cd.8d972c","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":130,"y":1379,"wires":[]},{"id":"3439f2f5.f7f2ee","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1140,"y":180,"wires":[]},{"id":"60d13e39.41581","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"extra","x":1130,"y":120,"wires":[]},{"id":"8f935a15.0141e8","type":"switch","z":"52e5256c.6ed94c","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":280,"y":240,"wires":[["2a2da6f5.4e988a"],["2a2da6f5.4e988a"],["af6d479c.85afc8"]]},{"id":"af6d479c.85afc8","type":"change","z":"52e5256c.6ed94c","name":"dyson_temp = payload","rules":[{"t":"set","p":"dyson_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["80cf0644.867e48"]]},{"id":"2a2da6f5.4e988a","type":"change","z":"52e5256c.6ed94c","name":"dyson_temp += payload","rules":[{"t":"set","p":"dyson_temp","pt":"global","to":"$number($globalContext(\"dyson_temp\")) + msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["80cf0644.867e48"]]},{"id":"63faa80a.9d9678","type":"debug","z":"52e5256c.6ed94c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":880,"y":300,"wires":[]},{"id":"80cf0644.867e48","type":"change","z":"52e5256c.6ed94c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dyson_temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["63faa80a.9d9678","d35eb11a.af49e"]]},{"id":"b8808d4.1a9277","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"48084","acknoledge":true,"name":"スマートCH","topic":"","x":90,"y":2000,"wires":[["af083fd9.173a9","b3c0149c.17e6c8","31ed77b7.6da3c8"]]},{"id":"6f362d95.baebd4","type":"link out","z":"ced38e95.976a3","name":"lg_tv","links":["3d572f6e.07de3"],"x":595,"y":2000,"wires":[]},{"id":"af083fd9.173a9","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":280,"y":2000,"wires":[["1a0232a9.44581d"],["6ad56182.5895b"],["1a0232a9.44581d"],["6ad56182.5895b"],["778c849c.a9dbdc"]]},{"id":"b3c0149c.17e6c8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":210,"y":2060,"wires":[]},{"id":"31ed77b7.6da3c8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":200,"y":2120,"wires":[]},{"id":"1a0232a9.44581d","type":"change","z":"ced38e95.976a3","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1960,"wires":[["6f362d95.baebd4","3aff3d32.086bc2"]]},{"id":"6ad56182.5895b","type":"change","z":"ced38e95.976a3","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2000,"wires":[["6f362d95.baebd4","3aff3d32.086bc2"]]},{"id":"778c849c.a9dbdc","type":"change","z":"ced38e95.976a3","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2040,"wires":[["6f362d95.baebd4","3aff3d32.086bc2"]]},{"id":"306103e3.e11fac","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":260,"y":1660,"wires":[]},{"id":"ceece5db.ccab88","type":"mqtt in","z":"90fcc61b.a341d8","name":"","topic":"IR1/device","qos":"2","broker":"c063901b.31ca5","x":100,"y":40,"wires":[["2997694.d987996"]]},{"id":"2997694.d987996","type":"debug","z":"90fcc61b.a341d8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":100,"wires":[]},{"id":"3c4f0320.78769c","type":"mqtt in","z":"90fcc61b.a341d8","name":"","topic":"IR1/command","qos":"2","broker":"983ce956.6ac868","x":110,"y":160,"wires":[["17746fe.bb8689"]]},{"id":"17746fe.bb8689","type":"debug","z":"90fcc61b.a341d8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":220,"wires":[]},{"id":"57e8cb22.364a14","type":"change","z":"ced38e95.976a3","name":"hdmi#","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"hdmi\" & msg.payload\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1240,"wires":[["bba20cd9.cc5db"]]},{"id":"2eba5736.5c9c98","type":"switch","z":"ced38e95.976a3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":410,"y":1260,"wires":[["57e8cb22.364a14"],["f7d1ab17.c552d8"],["f7d1ab17.c552d8"],["144c8c94.897fa3"],["6bb5e474.32d86c"],["50a21952.54f548"],["50a21952.54f548"]]},{"id":"4a83cf78.1883c","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":240,"y":1220,"wires":[["89b634fd.dee728"],["7fb242e0.169d1c"],[],[],["2eba5736.5c9c98"],["c72ac249.7f095"]]},{"id":"7879193c.c25028","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":260,"y":1380,"wires":[]},{"id":"a7cdbc32.75f54","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":260,"y":1460,"wires":[]},{"id":"d544308a.f9e8e","type":"debug","z":"401531fb.83535","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":260,"y":1560,"wires":[]},{"id":"f7d1ab17.c552d8","type":"change","z":"ced38e95.976a3","name":"hdmi1","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1280,"wires":[["bba20cd9.cc5db"]]},{"id":"144c8c94.897fa3","type":"change","z":"ced38e95.976a3","name":"hdmi2","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1320,"wires":[["bba20cd9.cc5db"]]},{"id":"6bb5e474.32d86c","type":"change","z":"ced38e95.976a3","name":"hdmi3","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1360,"wires":[["bba20cd9.cc5db"]]},{"id":"50a21952.54f548","type":"change","z":"ced38e95.976a3","name":"hdmi4","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1400,"wires":[["bba20cd9.cc5db"]]},{"id":"c72ac249.7f095","type":"switch","z":"ced38e95.976a3","name":"","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"120","vt":"num"},{"t":"eq","v":"240","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":1520,"wires":[["53ed215e.9731f"],["b98623b2.8524e"],["65e81eee.4a721"],["8909d3c9.81e5f"]]},{"id":"53ed215e.9731f","type":"change","z":"ced38e95.976a3","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1460,"wires":[["8f845ad7.cdc2c8"]]},{"id":"b98623b2.8524e","type":"change","z":"ced38e95.976a3","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1500,"wires":[["8f845ad7.cdc2c8"]]},{"id":"65e81eee.4a721","type":"change","z":"ced38e95.976a3","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1540,"wires":[["8f845ad7.cdc2c8"]]},{"id":"8909d3c9.81e5f","type":"change","z":"ced38e95.976a3","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1580,"wires":[["8f845ad7.cdc2c8"]]},{"id":"8f845ad7.cdc2c8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":740,"y":1500,"wires":[]},{"id":"89b634fd.dee728","type":"change","z":"ced38e95.976a3","name":"hdmi1","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1160,"wires":[["bba20cd9.cc5db"]]},{"id":"7fb242e0.169d1c","type":"change","z":"ced38e95.976a3","name":"hdmi2","rules":[{"t":"set","p":"payload","pt":"msg","to":"hdmi2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1200,"wires":[["bba20cd9.cc5db"]]},{"id":"f73b6796.e2e798","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":280,"y":300,"wires":[["24bf69fa.807226"],["4c0b34ab.4ce5dc"],[],[],["209709a5.9fa2d6"],["4542b568.11179c"]]},{"id":"209709a5.9fa2d6","type":"switch","z":"ced38e95.976a3","name":"明るさ","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":7,"x":450,"y":400,"wires":[[],[],[],[],[],[],[]]},{"id":"4542b568.11179c","type":"switch","z":"ced38e95.976a3","name":"色:hue","property":"payload.hue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"120","vt":"num"},{"t":"eq","v":"240","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":540,"wires":[["e4c56bb3.664ba8"],["c1cd43.8bc502c"],["c8e91a5a.12b438"],["b6a7d2fd.681bb"]]},{"id":"e4c56bb3.664ba8","type":"change","z":"ced38e95.976a3","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["f14d091e.16b058"]]},{"id":"c1cd43.8bc502c","type":"change","z":"ced38e95.976a3","name":"yellow","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["f14d091e.16b058"]]},{"id":"c8e91a5a.12b438","type":"change","z":"ced38e95.976a3","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":560,"wires":[["f14d091e.16b058"]]},{"id":"b6a7d2fd.681bb","type":"change","z":"ced38e95.976a3","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":600,"wires":[["f14d091e.16b058"]]},{"id":"f14d091e.16b058","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":440,"wires":[]},{"id":"b530b869.2d7f18","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.hue","x":150,"y":500,"wires":[]},{"id":"3d8c0eb6.c3c212","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.saturation","x":170,"y":560,"wires":[]},{"id":"f75f90c4.08fb2","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload.brightness","x":170,"y":620,"wires":[]},{"id":"834e786b.c24df8","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":140,"y":440,"wires":[]},{"id":"64966126.68c64","type":"ui_chart","z":"40512d3f.bb76f4","name":"温度グラフ1","group":"3e2ab8fa.bf9368","order":2,"width":"5","height":"4","label":"","chartType":"line","legend":"false","xformat":"MM/DD HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"35","removeOlder":"3","removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":160,"wires":[[],[]]},{"id":"f6ca368.20774c8","type":"ui_chart","z":"40512d3f.bb76f4","name":"湿度グラフ1","group":"2e3dec1c.ac0f04","order":2,"width":"5","height":"4","label":"","chartType":"line","legend":"false","xformat":"MM/DD HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"70","removeOlder":"3","removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0000ff","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":380,"wires":[[],[]]},{"id":"4cc2f5db.34dc2c","type":"alexa-home","z":"ced38e95.976a3","conf":"4c94e976.9a29e8","device":"48150","acknoledge":true,"name":"Sony BL","topic":"","x":80,"y":2200,"wires":[["c55124f6.4a68b8","9714b01a.bca2f","5c86d61e.2a5108"]]},{"id":"74065cb7.469094","type":"link out","z":"ced38e95.976a3","name":"lg_tv","links":["3d572f6e.07de3"],"x":675,"y":2220,"wires":[]},{"id":"c55124f6.4a68b8","type":"switch","z":"ced38e95.976a3","name":"コマンド分岐","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":280,"y":2220,"wires":[["cb27b9fe.dfad48"],["cb27b9fe.dfad48"],["a534e060.e4d78"],["5a7055a9.930b9c"],["4043a793.db66a8"]]},{"id":"9714b01a.bca2f","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"command","x":170,"y":2280,"wires":[]},{"id":"5c86d61e.2a5108","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":160,"y":2340,"wires":[]},{"id":"cb27b9fe.dfad48","type":"change","z":"ced38e95.976a3","name":"power","rules":[{"t":"set","p":"payload","pt":"msg","to":"power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2180,"wires":[["74065cb7.469094","3377fd2.c211202"]]},{"id":"a534e060.e4d78","type":"change","z":"ced38e95.976a3","name":"ch_next","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2220,"wires":[["74065cb7.469094","3377fd2.c211202"]]},{"id":"5a7055a9.930b9c","type":"change","z":"ced38e95.976a3","name":"ch_prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"ch_prev","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2260,"wires":[["74065cb7.469094","3377fd2.c211202"]]},{"id":"3aff3d32.086bc2","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":660,"y":2040,"wires":[]},{"id":"3377fd2.c211202","type":"debug","z":"ced38e95.976a3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":700,"y":2300,"wires":[]},{"id":"4043a793.db66a8","type":"change","z":"ced38e95.976a3","name":"ch_?","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ch_\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2300,"wires":[["3377fd2.c211202","74065cb7.469094"]]},{"id":"d414d3f5.208b3","type":"ui_chart","z":"40512d3f.bb76f4","name":"湿度グラフ:大","group":"3bf00340.eb323c","order":1,"width":"8","height":"3","label":"","chartType":"line","legend":"false","xformat":"MM/DD HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"70","removeOlder":"48","removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0000ff","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":420,"wires":[[],[]]},{"id":"99cb2cf7.56a4f","type":"ui_button","z":"401531fb.83535","name":"","group":"f21ad1f.7e1e23","order":6,"width":"1","height":"1","passthru":false,"label":"Power","tooltip":"","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":90,"y":1760,"wires":[["217bddf1.785802"]]},{"id":"217bddf1.785802","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":230,"y":1720,"wires":[["27749c68.a494f4"]]},{"id":"27749c68.a494f4","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":370,"y":1720,"wires":[["34f79a66.bcba56"]]},{"id":"34f79a66.bcba56","type":"batch","z":"401531fb.83535","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":510,"y":1720,"wires":[["e23d7db7.c8114"]]},{"id":"98049067.f165d","type":"ui_button","z":"401531fb.83535","name":"","group":"f21ad1f.7e1e23","order":6,"width":"1","height":"1","passthru":false,"label":"Input","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input","payloadType":"str","topic":"","x":230,"y":1760,"wires":[["27749c68.a494f4"]]},{"id":"34a9caba.4ebd86","type":"change","z":"40512d3f.bb76f4","name":"ymax","rules":[{"t":"set","p":"ui_control.ymax","pt":"msg","to":"$round(msg.payload / 5 + 1) * 5","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":40,"wires":[["64966126.68c64","283e8330.21fefc"]]},{"id":"b5622d03.65d95","type":"change","z":"40512d3f.bb76f4","name":"ymin","rules":[{"t":"set","p":"ui_control.ymin","pt":"msg","to":"$round(msg.payload / 5 - 1) * 5","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["64966126.68c64","283e8330.21fefc"]]},{"id":"45e49915.866988","type":"change","z":"40512d3f.bb76f4","name":"ymax","rules":[{"t":"set","p":"ui_control.ymax","pt":"msg","to":"$round(msg.payload / 10 + 1) * 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["f6ca368.20774c8","d414d3f5.208b3"]]},{"id":"f2c20b8f.44b2d8","type":"change","z":"40512d3f.bb76f4","name":"ymin","rules":[{"t":"set","p":"ui_control.ymin","pt":"msg","to":"$round(msg.payload / 10 - 1) * 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["f6ca368.20774c8","d414d3f5.208b3"]]}]